@{
    Layout = "~/Views/Shared/_Master.cshtml";
    var isAuthenticated = DFM.MVC.Helpers.Authorize.Auth.Current.IsAuthenticated;
}

@section HtmlHeadCss {
    @RenderSection("HtmlHeadCss", required: false)
}

@section HtmlFooterJs {
    @RenderSection("HtmlFooterJs", required: false)
}



@section MenuTopo {
    @if (isAuthenticated)
    {
        <ul class="menu-topo">
            <li>@Html.RouteLink(MultiLanguage.Dictionary["Enter"], RouteNames.Default, new { action = "Index", controller = "Account" }, new { @class = "fixItem" })</li>
            <li>@Html.RouteLink(MultiLanguage.Dictionary["LogOff"], RouteNames.Default, new { action = "LogOff", controller = "User" }, new { @class = "fixItem" })</li>
        </ul>
    }
}



@{/* Made without spaces to hide when empty */}
@section TopRightDiv {@RenderSection("TopRightDiv", required: false)}



@section PS {
    @RenderSection("PS", required: false)
}



@RenderBody()



