@{
    ViewBag.Title = PlainText.Dictionary["Welcome"];
    Layout = "~/Views/Shared/Outer/_Layout.cshtml";
}

@section TopRightDiv {
    @Html.Partial("LogOn", new DFM.MVC.Models.UserLogOnModel())
}

<p>
    @PlainText.Dictionary["Index_Introdution"]
</p>

<hr class="Text" />

<p>
    @PlainText.Dictionary["Index_PossibleNowADays"]
</p>
			
<ul>
	<li>@PlainText.Dictionary["Index_Moves"]</li>
	<li>@PlainText.Dictionary["Index_Transfer"]</li>
	<li>@PlainText.Dictionary["Index_Categories"]</li>
</ul>

<hr class="Text" />

<p>
	@PlainText.Dictionary["Index_Reports"]
</p>
			
<ul>
	<li>@PlainText.Dictionary["Index_ReportMonth"]</li>
	<li>@PlainText.Dictionary["Index_ReportYear"]</li>
</ul>

<hr class="Text" />

<p>
	@PlainText.Dictionary["Index_Close"]
</p>
			
<p>
	@Html.ActionLink(PlainText.Dictionary["Index_Finish"], "SignUp")
</p>