@model DFM.MVC.Models.UserLogOnModel

@{
    var isAuthenticated = DFM.MVC.Authentication.Current.IsAuthenticated;
    ViewBag.Title = PlainText.Dictionary["Logon"];
}

<div class="MiniForm">
    @if (isAuthenticated)
    {
        <button class="topRightMoreSpace" href='@Url.Action("Index", "Account")'>@PlainText.Dictionary["Enter"]</button>
    }
    else
    {
        using (Html.BeginForm("LogOn", "User", new { returnUrl = Request.QueryString["returnUrl"] }))
        {
            @Html.ValidationSummary(true)
        
            <p>
                @Html.LabelFor(m => m.Login, PlainText.Dictionary["Login"])
                @(": ")
                @Html.TextBoxFor(m => m.Login) 
            </p>

            <p>
                @Html.LabelFor(m => m.Password, PlainText.Dictionary["Password"])
                @(": ")
                @Html.PasswordFor(m => m.Password)
            </p>

            <div id="Remember">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, PlainText.Dictionary["RememberMe"])
            </div>

            <button type="submit">@PlainText.Dictionary["Enter"]</button>
        }
    }
</div>