@model DFM.MVC.Models.UserLogOnModel

@{
    ViewBag.Title = PlainText.Dictionary["Logon"];
    //Layout = "~/Views/Shared/Outer/_Layout.cshtml";
}

<div class="MiniForm">
    @using (Html.BeginForm("LogOn", "User"))
    {
        @Html.ValidationSummary(true) 
        
        <p>
            @Html.LabelFor(m => m.Login, PlainText.Dictionary["Login"])
            @(": ")
            @Html.TextBoxFor(m => m.Login) 
        </p>

        <p>
            @Html.LabelFor(m => m.Password, PlainText.Dictionary["Password"])
            @(": ")
            @Html.PasswordFor(m => m.Password)
        </p>

        <div id="Remember">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, PlainText.Dictionary["RememberMe"])
        </div>

        <button type="submit">@PlainText.Dictionary["Logon"]</button>
    }
</div>