@model DFM.MVC.Models.UserSignUpModel

@{
    ViewBag.Title = PlainText.Dictionary["SignUp"];
    Layout = "~/Views/Shared/Outer/_Layout.cshtml";
}

<div class="MiniForm">
    @using (Html.BeginForm()) { 

        @Html.ValidationSummary(true) 

        <p>
            @Html.LabelFor(m => m.Email, PlainText.Dictionary["Email"])
            @Html.TextBoxFor(m => m.Email)
        </p>

        <p>
            @Html.LabelFor(m => m.Password, PlainText.Dictionary["Password"])
            @Html.PasswordFor(m => m.Password)
        </p>

        <button type="submit">@PlainText.Dictionary["Create"]!</button>

    }
</div>