@model UsersConfigModel

<div class="text-center">
	<span id="qrcode" data-url="@Model.TFA.UrlPath">
	</span>

	@Html.HiddenFor(m => m.TFA.TFA.Secret)

	<br/>
	<small>
		<a href="#" role='button' id="open-tfa" data-toggle='modal' data-target='#tfa-modal'>
			@Context.Translate("TFAWhy")
		</a>
	</small>
</div>

<div class="form-group">
	@Html.LabelFor(m => m.TFA.TFA.Code, Context.Translate("Code"), new { @class = "control-label" })
	@Html.TextBoxFor(m => m.TFA.TFA.Code, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.TFA.TFA.Password, Context.Translate("CurrentPassword"), new { @class = "control-label" })
	@Html.PasswordFor(m => m.TFA.TFA.Password, new { @class = "form-control" })
</div>

<small>
	@Html.ActionLink(Context.Translate("TFARemove"), "RemoveTFA")
</small>

@await Html.PartialAsync("Modals/TFA")
