@model UsersConfigModel
@{
	ViewBag.Title = Context.Translate("Settings");
	ViewBag.WizardMessage = "Settings";
	Layout = "~/Views/Shared/Layouts/_Form.cshtml";

	var tabs = Enum.GetValues(typeof (UsersConfigModel.Form));

	ViewBag.FormSizeSm = 8;
	ViewBag.FormSizeLg = 6;
}

@section Styles {
	<link rel="stylesheet" type="text/css" href="~/Assets/styles/qrcode.css?v=@Cfg.Version" />
	
	<style>body { display: none }</style>

	@foreach (var theme in Model.ThemeOpt.ThemeList)
	{
		<link rel="stylesheet" type="text/css" class="delete-me" style="display: none"
			  href="~/Assets/themes/bootstrap-@(theme).min.css?v=@Cfg.Version" />
	}
}

@section Scripts {
	<script type="text/javascript" src="~/Assets/scripts/tab-forms.js?v=@Cfg.Version"></script>
	<script type="text/javascript" src="~/Assets/scripts/dynamic-theme-change.js?v=@Cfg.Version"></script>
	<script type="text/javascript" src="~/Assets/libs/jquery/jquery.qrcode.min.js?v=@Cfg.Version"></script>
	<script type="text/javascript" src="~/Assets/scripts/qrcode.js?v=@Cfg.Version"></script>
	<script type="text/javascript">
		window.currentTheme = '@Model.Theme';
	</script>
}

<ul class="nav nav-tabs">
	@foreach (var tab in tabs)
	{
		var name = tab.ToString();
		var lower = name.ToLower();

		<li class="@lower-caller">
			<a href="#@lower" data-toggle="tab">
				<small class="tab-text">
					@Context.Translate($"{name}Settings")
				</small>
			</a>
		</li>
	}
</ul>

@Html.HiddenFor(m => m.ActiveForm)

<div class="tab-content well-sm">
	@foreach (var tab in tabs)
	{
		var name = tab.ToString();
		var lower = name.ToLower();

		<div class="tab-pane" id="@lower" data-form="@Url.Action($"Config{name}")">
			@await Html.PartialAsync($"Config{name}")
		</div>
	}
</div>

@section Footer {
	<button type="submit"
	        class="btn btn-success tab-submit"
	        data-text="@Context.Translate("Save")">
	</button>
}
