@model UsersConfigModel

<div class="form-group">
	@Html.LabelFor(m => m.Main.Language, Translator.Dictionary["Language"], new { @class = "control-label" })
	@Html.DropDownListFor(m => m.Main.Language, Model.Main.LanguageList, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Main.TimeZone, Translator.Dictionary["TimeZone"], new { @class = "control-label" })
	@Html.DropDownListFor(m => m.Main.TimeZone, Model.Main.TimeZoneList, new { @class = "form-control" })
</div>

<div class="checkbox row">
	@Html.LabelFor(m => m.Main.UseCategoriesCheck, Translator.Dictionary["UseCategories"], new { @class = "col-sm-10 control-label" })
	<label class="col-sm-2 text-right">
		@Html.CheckBoxFor(m => m.Main.UseCategoriesCheck)
	</label>
</div>

<div class="checkbox row">
	@Html.LabelFor(m => m.Main.SendMoveEmailCheck, Translator.Dictionary["SendMoveEmail"], new { @class = "col-sm-10 control-label" })
	<label class="col-sm-2 text-right">
		@Html.CheckBoxFor(m => m.Main.SendMoveEmailCheck)
	</label>
</div>

<div class="checkbox row">
	@Html.LabelFor(m => m.Main.MoveCheckCheck, Translator.Dictionary["MoveCheck"], new { @class = "col-sm-10 control-label" })
	<label class="col-sm-2 text-right">
		@Html.CheckBoxFor(m => m.Main.MoveCheckCheck)
	</label>
</div>

<div class="checkbox row">
	@Html.LabelFor(m => m.Main.WizardCheck, Translator.Dictionary["EnableWizard"], new { @class = "col-sm-10 control-label" })
	<label class="col-sm-2 text-right">
		@Html.CheckBoxFor(m => m.Main.WizardCheck)
	</label>
</div>
