@model UsersContractModel

@{
	ViewBag.Title = Context.Translate("ContractTitle");
	Layout = "~/Views/Shared/Layouts/_Form.cshtml";
	ViewBag.FormSizeSm = 12;
	ViewBag.FormSizeLg = 8;

	var canSign = Model.IsAuthenticated && !Model.IsLastContractAccepted;

	var beginDate = Model.Contract.BeginDate
		.ToLongDateString()
		.Split(',', 2)
		.Last();
}

@section Styles {
	<link href="~/Assets/styles/contract.css?v=@Cfg.Version" type="text/css" rel="stylesheet"/>
}

<div>
	<div class="contract">
		<div class="new-clause new-clause-explain no-print">
			@Context.Translate("NewClausesHighlighted")
		</div>

		@await Html.PartialAsync("Clause", Model.Contract[Model.Language])
	</div>

	@if (canSign)
	{
		var text = Context.Translate("ContractAccept");
		var link = Context.Translate("ContractTitle");

		<div class="checkbox text-center form-group no-print">
			<label for="@Html.IdFor(m => m.Accept)">
				@Html.CheckBoxFor(m => m.Accept)
				@String.Format(text, link)
			</label>
		</div>
	}
</div>


@section Footer {
	<span class="@(canSign ? "pull-left text-left" : null)">
		@Context.Translate("ContractBeginDate")<br />
		@beginDate
	</span>

	@if (canSign)
	{
		<button class="btn btn-success no-print">
			@Context.Translate("Accept")
		</button>
	}
}
