@model UsersIndexModel

@{
	ViewBag.HideTopLogo = true;
	var colors = Model.Theme.Colors() ? "on" : "off";
}

@section Styles {
	<link href="~/Assets/styles/updates.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
}

<h1 class="logo">
	<img src="~/Assets/images/pig-@(colors).svg"
		alt="@Context.Translate("PinkPigAlt")"
	    title="@Context.Translate("PinkPigAlt")" />
	Don't fly Money
</h1>

<div class="row">

	<div class="col-sm-8">

		<hr />

		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					@Context.Translate("Index_Introduction")
				</p>

				<p>
					@Html.Raw(String.Format(
						Context.Translate("Index_Explanation"),
						"<a href='" + Url.Action("SignUp", "Users") + "'>", "</a>"
					))
				</p>

				<p>
					@Html.Raw(String.Format(
						Context.Translate("Index_Close"),
						"dfm@dontflymoney.com"
					))
				</p>
			</div>
			
			<div class="panel-footer text-info">
				<span class="glyphicon glyphicon-exclamation-sign"
				      title="@Context.Translate("CookiesWarning")">
				</span>
				@Context.Translate("CookiesWarning")
			</div>
		</div>

	</div>

	<div class="col-sm-4 updates">
		@foreach (var version in Model.Versions)
		{
			<div class="panel panel-default text-right">
				<div class="panel-heading">
					@version.Name
				</div>
				<ul class="list-group small">
					@foreach (var update in version.Updates)
					{
						<li class="list-group-item">
							@update
						</li>
					}
				</ul>
			</div>
		}
	</div>
</div>
