@model UsersSignUpModel

@{
	ViewBag.Title = Translator.Dictionary["SignUp"];
	Layout = "~/Views/Shared/_Form.cshtml";
}

@section Styles {
	<link href="~/Assets/Styles/contract.css" type="text/css" rel="stylesheet"/>
}

<div class="form-group">
	@Html.LabelFor(m => m.Email, Translator.Dictionary["Email"], new { @class = "control-label" })
	@Html.TextBoxFor(m => m.Email, new { @class = "form-control", maxlength = MaxLen.UserEmail })
	<small>@String.Format(Translator.Dictionary["CharactersMax"], MaxLen.UserEmail)</small>
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Password, Translator.Dictionary["Password"], new { @class = "control-label" })
	@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.RetypePassword, Translator.Dictionary["RetypePassword"], new { @class = "control-label" })
	@Html.PasswordFor(m => m.RetypePassword, new { @class = "form-control" })
</div>

<div class="text-center form-group">
	@Html.CheckBoxFor(m => m.Accept)
	<span class="control-label">
		@Html.Raw(String.Format(
			Translator.Dictionary["ContractAccept"],
			$"<a role='button' data-toggle='modal' data-target='#contract-modal'>{Translator.Dictionary["ContractTitle"]}</a>"
		))
	</span>

</div>


@Html.Partial("ModalContract")


@section Footer
{
	<div class="row">
		<div class="col-lg-8 col-sm-8 form-group text-left">
			@Html.CheckBoxFor(m => m.Info.EnableWizard)
			@Html.LabelFor(m => m.Info.EnableWizard, Translator.Dictionary["EnableWizard"], new { @class = "control-label" })
		</div>
		<div class="col-lg-4 col-sm-4">
			<button type="submit" class="btn btn-success">
				@Translator.Dictionary["Create"]
			</button>

		</div>
	</div>
}
