@model UsersTFAModel

@{
	Layout = "~/Views/Shared/Layouts/_Form.cshtml";
	ViewBag.Title = Context.Translate("TFASettings");
}

<div class="form-group">
	@Html.LabelFor(m => m.Code, Context.Translate("Code"))

	<span class="glyphicon glyphicon-info-sign control-label"
		  title="@Context.Translate("TFAVerification")">
	</span>

	@Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.Code)
</div>

@section Footer {
	<button type="submit" class="btn btn-success">
		@Context.Translate("Go")
	</button>
}
