@model UsersTFAModel

@{
	Layout = "~/Views/Shared/_Form.cshtml";
	ViewBag.Title = Translator.Dictionary["TFASettings"];
}

<div class="form-group">
	@Html.LabelFor(m => m.Code, Translator.Dictionary["Code"])

	<span class="glyphicon glyphicon-info-sign control-label"
		  data-toggle="tooltip" data-placement="right"
		  title="@Translator.Dictionary["TFAVerification"]"
		  data-original-title="@Translator.Dictionary["TFAVerification"]">
	</span>

	@Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.Code)
</div>

@section Footer {
	<button type="submit" class="btn btn-success">
		@Translator.Dictionary["Go"]
	</button>
}
