@model DFM.MVC.Models.TokenPasswordResetModel

@{
    ViewBag.Title = MultiLanguage.Dictionary["PasswordReset"];
    Layout = "~/Views/Shared/Outer/_Layout.cshtml";
}

<div class="HalfScreen">
    @using (Html.BeginForm()) { 

        @Html.ValidationSummary(true)

        <p>
            @Html.LabelFor(m => m.Password, MultiLanguage.Dictionary["Password"])
            @Html.PasswordFor(m => m.Password)
        </p>

        <p>
            @Html.LabelFor(m => m.RetypePassword, MultiLanguage.Dictionary["RetypePassword"])
            @Html.PasswordFor(m => m.RetypePassword)
        </p>
        
        <button type="submit">@MultiLanguage.Dictionary["Reset"]</button>

    }
</div>