@model TokensIndexModel

@{
	ViewBag.Title = MultiLanguage.Dictionary["TokenReceivedByEmail"];
	Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="form-group">
	@Html.LabelFor(m => m.Token, MultiLanguage.Dictionary["Token"], new { @class = "control-label" })
	@Html.TextBoxFor(m => m.Token, new { @class = "form-control" })
</div>
		
<div class="form-group">
	@Html.LabelFor(m => m.SecurityAction, MultiLanguage.Dictionary["SecurityAction"], new { @class = "control-label" })
	@Html.DropDownListFor(m => m.SecurityAction, Model.SecurityActionList, "-- " + MultiLanguage.Dictionary["Select"] + " --", new { @class = "form-control" })
</div>

@section Footer {
	<button type="submit" class="btn btn-success">
		@MultiLanguage.Dictionary["Go"]
	</button>
}
