@model TokensPasswordResetModel

@{
    ViewBag.Title = MultiLanguage.Dictionary["PasswordReset"];
}

<div class="half-screen">
    @using (Html.BeginForm())
    { 
        <p>
            @Html.LabelFor(m => m.Password, MultiLanguage.Dictionary["Password"])
            @Html.PasswordFor(m => m.Password)
        </p>

        <p>
            @Html.LabelFor(m => m.RetypePassword, MultiLanguage.Dictionary["RetypePassword"])
            @Html.PasswordFor(m => m.RetypePassword)
        </p>
        
        <button type="submit">@MultiLanguage.Dictionary["Reset"]</button>

    }
</div>