<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>DFM - @ViewBag.Title</title>
    <link href="@Url.Content("~/Assets/Css/MVC.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Assets/Css/General.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Assets/Css/MiniForm.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/Css/LinkButton.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/Css/Forms.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Assets/Css/SystemOut.css")" rel="stylesheet" type="text/css" />

    @RenderSection("HtmlHead", required: false)
</head>

<body>

	<div id="Head">
		<img id="Logo" alt="DFM" src="@Url.Content("~/Assets/Image/DFM.gif")" />
	</div>

	<div id="Main">
        @RenderSection("BeforeTitle", required: false)

        <h2>@ViewBag.Title</h2>

        @RenderBody()
    </div>
	
    <div id="Footer">
		Don't Fly Money - Since 2011
	</div>

</body>
</html>