<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>DFM - @ViewBag.Title</title>
    <link href="@Url.Content("~/Assets/Css/LinkButton.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/Css/MVC.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/Css/SystemOut.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/Css/Color/Money.css")" rel="stylesheet" type="text/css" />

    @RenderSection("HtmlHead", required: false)
</head>

<body>
    <div class="center">
        @RenderBody()
    </div>
</body>
</html>