@model DetailsAddModel

<tr class="moveDetailItem" id="Detail_@(Model.Position)">
    @Html.HiddenFor(m => m.DetailList[Model.Position].FakeID)

    <td>
        @Html.TextBoxFor(m => m.DetailList[Model.Position].Description, new { maxlength = MaximumLength.DETAIL_DESCRIPTION })
        @Html.ValidationMessageFor(m => m.DetailList[Model.Position].Description, "*")
    </td>
    
    <td>
        @Html.TextBoxFor(m => m.DetailList[Model.Position].Amount, new { @class = "amount" })
        @Html.ValidationMessageFor(m => m.DetailList[Model.Position].Amount, "*")
    </td>
    
    <td>
        @Html.TextBoxFor(m => m.DetailList[Model.Position].Value, new { @class = "money" })
        @Html.ValidationMessageFor(m => m.DetailList[Model.Position].Value, "*")
    </td>

    @if (Model.Position > 0)
    {
        <td><a href="#" onclick="RemoveDetail(@(Model.Position))"> X </a></td>
    }
</tr>