@{
	var newRoute = new Default.Mobile();

	var currentRouteValues = ViewContext.RouteData.Values;

	var controller = currentRouteValues["Controller"];
	var action = currentRouteValues["Action"];
	var activity = MobileUrls.Get[controller, action];

	var area = newRoute.Area;
	var accountUrl = currentRouteValues["AccountUrl"];
	var id = currentRouteValues["id"];

	var newRouteValues = new {activity, area, accountUrl, id};
}

<footer class="container no-print">
	<hr />

	<div class="row">

		<div class="col-lg-1 col-sm-2 col-xs-2">
			<a href="@Url.RouteUrl(newRoute.Name, newRouteValues)"
				target="_blank"
				rel="noopener noreferrer"
				class="android-link"
				title="@Context.Translate("Aria_AndroidLink")">
			</a>
		</div>

		<div class="col-lg-4 col-sm-4 col-xs-10">
			<small>@Context.Translate("AndroidRobotLicenseText")</small>
		</div>

		<div class="col-lg-5 col-sm-4 col-xs-12 text-center">
			@await Html.PartialAsync("Sponsor")
		</div>

		<div class="col-lg-2 col-sm-2 col-xs-12 text-right text-nowrap">
			Don't fly Money<br/>

			@Html.RouteLink(
				Context.Translate("ContractTitle"),
				area,
				new { controller = "Users", action = "Contract" },
				new { target = "_blank", rel = "noopener noreferrer" }
				)<br/>

			@Cfg.Version<br/>

			2011<br/>
		</div>

	</div>
</footer>
