@model BaseSiteModel

@{
	var accountArea = Model as BaseAccountModel;
	var defaultRoute = new Default.Main();
}

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			@if (ViewBag.HideTopLogo == null)
			{
				<a href="/" class="navbar-brand">
					<img src="~/Assets/images/pig.svg" title="Home" />
					Don't fly Money
				</a>
			}
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav navbar-right">
				@await Html.PartialAsync("Skeleton/Now")

				<li class="flag @(Model.Language)" title="@Context.Translate("Aria_OpenLanguage")" data-toggle='modal' data-target='#language-modal'>
					<a role='button'>
						<img src="~/Assets/images/@(Model.Language.ToLower()).svg" title="@Context.Translate("Aria_OpenLanguage")" />
					</a>
				</li>

				<li>
					@await Html.PartialAsync("Skeleton/MenuContact")
				</li>

				@if (!Model.IsAuthenticated)
				{
					<li>@Html.ActionLink(Context.Translate("Login"), "LogOn", "Users")</li>
					<li>@Html.ActionLink(Context.Translate("SignUp"), "SignUp", "Users")</li>
					<li>@Html.ActionLink(Context.Translate("TokenReceivedByEmail"), "Index", "Tokens")</li>
				}
				else
				{
					if (Model.IsExternal)
					{
						<li>@Html.ActionLink(Context.Translate("Enter"), "Index", "Accounts")</li>
					}
					else if (accountArea == null)
					{
						<li>@Html.ActionLink(Context.Translate("Accounts"), "Index", "Accounts")</li>

						if (Model.IsUsingCategories)
						{
							<li>@Html.ActionLink(Context.Translate("Categories"), "Index", "Categories")</li>
						}

						<li>@Html.ActionLink(Context.Translate("Schedules"), "Index", "Schedules")</li>
						<li>@Html.ActionLink(Context.Translate("Logins"), "Index", "Logins")</li>
					}
					else
					{
						if (accountArea.Account.IsOpen)
						{
							<li>@Html.ActionLink(Context.Translate("ToMove"), "Create", "Moves")</li>
							<li>@Html.ActionLink(Context.Translate("Schedule"), "Create", "Schedules")</li>
						}

						<li>@Html.ActionLink(Context.Translate("MonthMoves"), "Month", "Reports")</li>
						<li>@Html.ActionLink(Context.Translate("YearMoves"), "Year", "Reports")</li>

						<li>
							<a href="@Url.RouteUrl(defaultRoute.Name, new {action = "Index", controller = "Accounts", area = defaultRoute.Area})">
								<span class="glyphicon glyphicon-home" title="@Context.Translate("Home")"></span>
							</a>
						</li>
					}

					<li>
						<a role='button' data-toggle='modal' data-target='#search-modal'>
							<span class="glyphicon glyphicon-search"
							      title="@Context.Translate("Search_Title")"></span>
						</a>
					</li>

					<li>
						@await Html.PartialAsync("Skeleton/MenuSettings")
					</li>

					<li>
						@await Html.PartialAsync("Extensions/MicroForm",
							MicroForm.WithGlyph(Context, "off", "Logoff")
								.AddRouteUrl<Default.Main>("Users", "LogOff")
						)
					</li>
				}
			</ul>
		</div>
	</div>

	<div class="well well-lg top-right-highlight"></div>
</nav>
