@model BaseSiteModel

@{ var tip = Model.Tip; }

@if (tip != null)
{
	var mainRoute = new Default.Main();

	var links = new Dictionary<String, String>
	{
		{
			TipBrowser.DeleteLogins.ToString(),
			Url.RouteUrl(mainRoute.Name, new { controller = "Logins", action = "Index" })
		}
	};

	var dismissUrl = Url.RouteUrl(mainRoute.Name, new {controller = "Reports", action = "DismissTip"});

	<aside class="tip">
		<img src="~/Assets/images/pig.svg" 
		    alt="@Context.Translate(tip)"
		    title="@Context.Translate(tip)"
		    class="gray-for-off" />

		<div class="balloon">
			<a href="@links[tip]">
				@Context.Translate(tip)
			</a>
			<button class="tip-close" data-url="@dismissUrl">
				@Context.Translate("Close")
			</button>
		</div>
	</aside>
}
