@model BaseAccountModel

@{
	var defaultRoute = new Default.Main();
	var home = Url.RouteUrl(
		defaultRoute.Name,
		new
		{
			action = "Index",
			controller = "Accounts",
			area = defaultRoute.Area
		}
	);

	const String menuHL = " wl-other-color";
	var moveClass = ViewBag.MoveMenuClass + menuHL;
	var scheduleClass = ViewBag.ScheduleMenuClass + menuHL;
	var categoriesClass = ViewBag.CategoriesMenuClass + menuHL;
	var extractClass = ViewBag.ExtractMenuClass + menuHL;
	var summaryClass = ViewBag.SummaryMenuClass + menuHL;
}

@if (Model.Account.IsOpen)
{
	<li>
		@Html.ActionLink(
			Context.Translate("ToMove"),
			"Create", "Moves",
			null, new { @class = moveClass }
		)
	</li>
	<li>
		@Html.ActionLink(
			Context.Translate("Schedule"),
			"Create", "Schedules",
			null, new { @class = scheduleClass }
		)
	</li>
}

@if (Model.IsUsingCategories)
{
	<li>
		@Html.ActionLink(
			Context.Translate("CategorySummary"),
			"Categories", "Reports",
			null, new { @class = categoriesClass }
		)
	</li>
}

<li>
	@Html.ActionLink(
		Context.Translate("MonthMoves"),
		"Month", "Reports",
		null, new { @class = extractClass }
	)
</li>

<li>
	@Html.ActionLink(
		Context.Translate("YearMoves"),
		"Year", "Reports",
		null, new { @class = summaryClass }
	)
</li>

<li>
	<a href="@home">
		<span class="glyphicon glyphicon-home" title="@Context.Translate("Home")"></span>
	</a>
</li>
