@model BaseAccountModel

@{
	var defaultRoute = new Default.Main();
}

@if (Model.Account.IsOpen)
{
	<li>
		@Html.ActionLink(Context.Translate("ToMove"), "Create", "Moves", null, new { @class = ViewBag.MoveMenuClass })
	</li>
	<li>
		@Html.ActionLink(Context.Translate("Schedule"), "Create", "Schedules")
	</li>
}

<li>
	@Html.ActionLink(Context.Translate("CategorySummary"), "Categories", "Reports")
</li>

<li>
	@Html.ActionLink(Context.Translate("MonthMoves"), "Month", "Reports")
</li>

<li>
	@Html.ActionLink(Context.Translate("YearMoves"), "Year", "Reports", null, new { @class = ViewBag.SummaryMenuClass })
</li>

<li>
	<a href="@Url.RouteUrl(defaultRoute.Name, new {action = "Index", controller = "Accounts", area = defaultRoute.Area})">
		<span class="glyphicon glyphicon-home" title="@Context.Translate("Home")"></span>
	</a>
</li>
