@model BaseAccountModel

@{
	var defaultRoute = new Default.Main();
	var home = Url.RouteUrl(
		defaultRoute.Name,
		new
		{
			action = "Index",
			controller = "Accounts",
			area = defaultRoute.Area
		}
	);

	String hlClass(dynamic viewBag)
	{
		if (viewBag == null) return null;
		return viewBag + " wl-other-color";
	}

	var moveClass = hlClass(ViewBag.MoveMenuClass);
	var scheduleClass = hlClass(ViewBag.ScheduleMenuClass);
	var categoriesClass = hlClass(ViewBag.CategoriesMenuClass);
	var reportsClass = hlClass(ViewBag.ReportsMenuClass);
	var extractClass = hlClass(ViewBag.ExtractMenuClass);
	var summaryClass = hlClass(ViewBag.SummaryMenuClass);
	var homeClass = hlClass(ViewBag.HomeMenuClass);
}

@if (Model.Account.IsOpen)
{
	<li>
		@Html.ActionLink(
			Context.Translate("ToMove"),
			"Create", "Moves",
			null, new { @class = moveClass }
		)
	</li>
	<li>
		@Html.ActionLink(
			Context.Translate("Schedule"),
			"Create", "Schedules",
			null, new { @class = scheduleClass }
		)
	</li>
}

<li class="dropdown">
	<a class="dropdown-toggle @reportsClass hide-whl-after-click" data-toggle="dropdown" role="button">
		@Context.Translate("Reports")
	</a>

	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		<li>
			@Html.ActionLink(
				Context.Translate("MonthMoves"),
				"Month", "Reports",
				null, new { @class = $"text-right {extractClass}" }
			)
		</li>

		<li>
			@Html.ActionLink(
				Context.Translate("YearMoves"),
				"Year", "Reports",
				null, new { @class = $"text-right {summaryClass}" }
			)
		</li>

		@if (Model.IsUsingCategories)
		{
			<li>
				@Html.ActionLink(
					Context.Translate("CategorySummary"),
					"Categories", "Reports",
					null, new { @class = $"text-right {categoriesClass}" }
				)
			</li>
		}
	</ul>
</li>

<li>
	<a href="@home" class="@homeClass">
		<span class="glyphicon glyphicon-home" title="@Context.Translate("Home")"></span>
	</a>
</li>
