@model BaseSiteModel

@{
	String hlClass(dynamic viewBag)
	{
		if (viewBag == null) return null;
		return viewBag + " wl-other-color";
	}

	var adminClass = hlClass(ViewBag.AdminMenuClass);
	var schedulesClass = hlClass(ViewBag.SchedulesMenuClass);
	var accountsClass = hlClass(ViewBag.AccountsMenuClass);
	var categoriesClass = hlClass(ViewBag.CategoriesMenuClass);
	var loginsClass = hlClass(ViewBag.LoginsMenuClass);
}

<li class="dropdown">
	<a class="dropdown-toggle @adminClass hide-whl-after-click" data-toggle="dropdown" role="button">
		@Context.Translate("Administration")
	</a>

	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		<li>
			@Html.ActionLink(
				Context.Translate("Accounts"),
				"Index", "Accounts",
				null, new { @class = $"text-right {accountsClass}" }
			)
		</li>

		@if (Model.IsUsingCategories)
		{
			<li>
				@Html.ActionLink(
					Context.Translate("Categories"),
					"Index", "Categories",
					null, new { @class = $"text-right {categoriesClass}" }
				)
			</li>
		}

		<li>
			@Html.ActionLink(
				Context.Translate("Schedules"),
				"Index", "Schedules",
				null, new { @class = $"text-right {schedulesClass}" }
			)
		</li>

		<li>
			@Html.ActionLink(
				Context.Translate("Logins"),
				"Index", "Logins",
				null, new { @class = $"text-right {loginsClass}" }
			)
		</li>
	</ul>
</li>
