@model BaseSiteModel

@{
	var lang = Model.Language.ToLower();

	const String menuHL = " wl-other-color";
	var contactClass = ViewBag.ContactMenuClass + menuHL;
}

<ul class="nav navbar-nav navbar-right">
	<li class="flag @lang" title="@Context.Translate("Aria_OpenLanguage")" data-toggle='modal' data-target='#language-modal'>
		<a role='button' class="@lang" title="@Context.Translate("Aria_OpenLanguage")">
			@await Html.PartialAsync($"Flags/{lang}")
		</a>
	</li>

	<li class="@contactClass">
		@await Html.PartialAsync("Skeleton/Menus/MenuContact")
	</li>

	@if (Model.IsAuthenticated)
	{
		@await Html.PartialAsync("Skeleton/Menus/LoggedIn")
	}
	else
	{
		@await Html.PartialAsync("Skeleton/Menus/LoggedOff")
	}
</ul>
