@model SettingsMiscModel
@{
	ViewBag.Title = Context.Translate("MiscSettings");
	Layout = "~/Views/Shared/Layouts/_Form.cshtml";

	ViewBag.FormSizeSm = 8;
	ViewBag.FormSizeLg = 6;

	var hl = new WizardHL()
		.AddBox("Misc", 0)
		.AddBox("Explanation", 1)
		.AddBox("Settings", 2)
		.AddBox("SettingsWipe", 2)
		;

	ViewBag.SettingsMenuClass = hl["Settings"];
	ViewBag.SettingsWipeMenuClass = hl["SettingsWipe"];
}

@section Styles {
	<link rel="stylesheet" type="text/css" href="~/Assets/styles/misc.css?v=@Cfg.Version" />
}

<div class="text-center @hl["Misc"] gray-for-off">
	@await Html.PartialAsync("MiscImage", Model.Misc)
</div>
<hr />

<div class="text-center @hl["Explanation"]">
	@Context.Translate("MiscExplanation")
</div>
<hr />

<div class="text-center">
	@Context.Translate("ReMiscText")
</div>
<hr />

<div class="form-group">
	@Html.LabelFor(m => m.Password, Context.Translate("CurrentPassword"), new { @class = "control-label" })
	@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
</div>

@section Footer {
	<button type="submit"
	        class="btn btn-success tab-submit">
		@Context.Translate("ReMisc")
	</button>
}
