@model SettingsPasswordModel
@{
	ViewBag.Title = Context.Translate("PasswordSettings");
	Layout = "~/Views/Shared/Layouts/_Form.cshtml";

	ViewBag.FormSizeSm = 8;
	ViewBag.FormSizeLg = 6;

	var hl = new WizardHL()
		.AddBox("Password", 0)
		.AddBox("Logout", 1)
		.AddBox("Settings", 2)
		.AddBox("SettingsTFA", 2)
		;

	ViewBag.LogoutClass = hl["Logout"];
	ViewBag.SettingsMenuClass = hl["Settings"];
	ViewBag.SettingsTFAMenuClass = hl["SettingsTFA"];
}

<div class="form-group @hl["Password"]">
	@Html.LabelFor(m => m.Password.CurrentPassword, Context.Translate("CurrentPassword"), new { @class = "control-label" })
	@Html.PasswordFor(m => m.Password.CurrentPassword, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Password.Password, Context.Translate("NewPassword"), new { @class = "control-label" })
	<div class="input-group">
		@Html.PasswordFor(m => m.Password.Password, new { @class = "form-control password-to-evaluate" })
		<span class="input-group-addon" id="password-emoji"></span>
	</div>
	@await Html.PartialAsync("PasswordEvaluator")
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Password.RetypePassword, Context.Translate("RetypePassword"), new { @class = "control-label" })
	@Html.PasswordFor(m => m.Password.RetypePassword, new { @class = "form-control" })
</div>

@if (Model.HasTFA)
{
	<div class="form-group" title="@Context.Translate("TFALabelExplanation")">
		@Html.LabelFor(m => m.Password.TFACode, Context.Translate("TFALabel"), new { @class = "control-label" })
		@Html.PasswordFor(m => m.Password.TFACode, new { @class = "form-control" })
	</div>
}

@section Footer {
	@if (Model.HasTFA) {
		@Html.ActionLink(
			Context.Translate("LostTFA"),
			"AskRemoveTFA", "Users", null,
			new { @class = "btn btn-warning pull-left", id = "LostTFA" }
		)
	}

	<button type="submit" class="btn btn-success tab-submit">
		@Context.Translate("Save")
	</button>
}
