@model SettingsTFAModel

@Context.Translate("TFAManage")

<div class="text-right">
	@await Html.PartialAsync("TFAWhy")
</div>

<div class="checkbox row @Model.HL["Disable"]">
	@Html.LabelFor(
		m => m.UseTFA,
		Context.Translate("TFA"),
		new { @class = "col-sm-10 control-label" }
	)
	<span class="col-sm-2 text-right">
		@Html.CheckBoxFor(m => m.UseTFA)
	</span>
</div>

<div class="checkbox row @Model.HL["UseAsPassword"]"
		title="@Context.Translate("TFAPasswordExplanation")">
	@Html.LabelFor(
		m => m.UseTFAPassword,
		Context.Translate("TFAPassword"),
		new { @class = "col-sm-10 control-label" }
	)
	<span class="col-sm-2 text-right">
		@Html.CheckBoxFor(m => m.UseTFAPassword)
	</span>
</div>

<div class="@Model.HL["Form"]">
	@await Html.PartialAsync("TFAForm")
</div>
