@model SettingsThemeModel
@{
	ViewBag.Title = Context.Translate("ThemeSettings");
	Layout = "~/Views/Shared/Layouts/_Form.cshtml";

	ViewBag.FormSizeSm = 8;
	ViewBag.FormSizeLg = 6;

	var hl = new WizardHL()
		.AddBox("MainColors", 1)
		.AddBox("DarkLight", 2)
		.AddBox("Controls", 3)
		.AddBox("Save", 5)
		.AddBox("Settings", 6)
		.AddBox("SettingsMisc", 6)
		;

	ViewBag.SettingsMenuClass = hl["Settings"];
	ViewBag.SettingsMiscMenuClass = hl["SettingsMisc"];
}

@section Scripts {
	<script type="text/javascript" src="~/Assets/scripts/dynamic-theme-change.js?v=@Cfg.Version"></script>
	<script type="text/javascript">
		window.currentBrightness = '@Model.Brightness';
		window.currentColor = '@Model.Color';
	</script>
}

@Html.HiddenFor(m => m.NewTheme, new { @class = "theme-changer-hidden" })

<div class="well well-sm text-center">
	@Context.Translate("ThemeInstruction")<br /><br />
	@Html.Raw(
		Context.Translate("ThemeLink")
			.Replace(
				"{{link}}",
				"<a href='https://bootswatch.com/flatly/' " +
					"target='_blank' " +
					"rel='noopener noreferrer' " +
				">" +
					"Bootswatch (Flatly)" +
				"</a>"
			)
	)
</div>

<div class="text-center">
	<div class="btn-group pull-left @hl["DarkLight"]">
		@foreach (var brightness in Model.BrightnessList)
		{
			<button class="btn btn-sm btn-default theme-changer @(brightness == Model.Brightness ? "active" : null)"
					data-choice="@brightness" data-type="brightness" type="button">
				<small>@Context.Translate(brightness.ToString())</small>
			</button>
		}
	</div>

	<div class="btn-group pull-right @hl["MainColors"]">
		@foreach (var color in Model.ColorList)
		{
			var active = color == Model.Color ? "active" : null;
			var colored = color == ThemeColor.Mono ? "off" : "on";

			<button class="btn btn-sm btn-default theme-changer @active"
					data-choice="@color" data-type="color" data-colored="@colored" type="button">
				<small>@Context.Translate(color.ToString())</small>
			</button>
		}
	</div>
</div>

<br class="clearfix"/>
<hr />

<div class="text-center @hl["Controls"]">
	<table class="table table-striped table-hover table-responsive">
		<thead>
			<tr class="row">
				<th class="text-center col-sm-6">@Context.Translate("Header")</th>
				<th class="text-center col-sm-6">@Context.Translate("Header")</th>
			</tr>
		</thead>
		<tbody>
			<tr class="row">
				<td class="text-center col-sm-6">@Context.Translate("RowPositive")</td>
				<td class="text-center col-sm-6 text-info">
					@await Html.PartialAsync("Extensions/ValueWithSign",
							 new ValueWithSign(1, Model.Language))
				</td>
			</tr>
			<tr class="row">
				<td class="text-center col-sm-6">@Context.Translate("RowTransfer")</td>
				<td class="text-center col-sm-6 text-success">
					@await Html.PartialAsync("Extensions/ValueWithSign",
							 new ValueWithSign(0, Model.Language))
				</td>
			</tr>
			<tr class="row">
				<td class="text-center col-sm-6">@Context.Translate("RowNegative")</td>
				<td class="text-center col-sm-6 text-danger">
					@await Html.PartialAsync("Extensions/ValueWithSign",
							 new ValueWithSign(-1, Model.Language))
				</td>
			</tr>
		</tbody>
	</table>

	<div class="form-group well">
		<label class="control-label" for="example">@Context.Translate("Label")</label>
		<input class="form-control" id="example" placeholder="@Context.Translate("Label")" />
	</div>

	<div class="well">
		this is a text with a <a href="#">link</a>
	</div>

	<div class="form-group">
		<button type="button" class="btn btn-info">@Context.Translate("Button")</button>
		<button type="button" class="btn btn-success">@Context.Translate("Button")</button>
		<button type="button" class="btn btn-warning">@Context.Translate("Button")</button>
		<button type="button" class="btn btn-danger">@Context.Translate("Button")</button>
	</div>
	<div class="form-group">
		<button type="button" class="btn active btn-info">@Context.Translate("Active")</button>
		<button type="button" class="btn active btn-success">@Context.Translate("Active")</button>
		<button type="button" class="btn active btn-warning">@Context.Translate("Active")</button>
		<button type="button" class="btn active btn-danger">@Context.Translate("Active")</button>
	</div>

	<div class="alert alert-info">@Context.Translate("Alert")</div>
	<div class="alert alert-success">@Context.Translate("Alert")</div>
	<div class="alert alert-warning">@Context.Translate("Alert")</div>
	<div class="alert alert-danger">@Context.Translate("Alert")</div>

</div>

@section Footer {
	<button type="submit"
			class="btn btn-success tab-submit @hl["Save"]">
		@Context.Translate("Save")
	</button>
}
