@model DFM.MVC.Models.CategoryCreateEditModel

@{
    if (Model.IsMoveCRUD) { Model.ActionName = "Create"; }
    
    ViewBag.Title = MultiLanguage.Dictionary[Model.ActionName, "Category"];
    Layout = Model.IsMoveCRUD ? null : "~/Views/Shared/Inner/_Layout.cshtml";
}

<div class="HalfScreen CRUDCategory">
    @using (
            Model.IsMoveCRUD
                ? Ajax.BeginForm("CreateAjax", "Category", new AjaxOptionsDFM { OnSuccess = "InsertCategoryOnDropDown" })
                : Html.BeginForm()
        )
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.Type)

        <p>
            @Html.LabelFor(m => m.Name, MultiLanguage.Dictionary["Category"])
            @Html.TextBoxFor(m => m.Name, new { maxlength = MaximumLength.CategoryName })
            <span class='max'>@String.Format(MultiLanguage.Dictionary["CharactersMax"], MaximumLength.CategoryName)</span>
        </p>
    
        <button type="submit">@MultiLanguage.Dictionary[Model.ActionName]!</button>

        @Html.HiddenFor(m => m.Category.Active)
    }
</div>