@model DFM.MVC.Models.CategoryIndexModel

@{
    ViewBag.Title = MultiLanguage.Dictionary["Categories"];
    Layout = "~/Views/Shared/Inner/_Layout.cshtml";
}

@if (!Model.CategoryList.Any())
{ 
    <div class="ZeroItems">@MultiLanguage.Dictionary["NoCategories"]</div>
}
else
{ 
    <table class="List">

        <tr>
            <th>@MultiLanguage.Dictionary["Name"]</th>
            <th colspan="2">@MultiLanguage.Dictionary["TODO"]</th>
        </tr>

        @foreach (var category in Model.CategoryList)
        {
            var editLabel = MultiLanguage.Dictionary["Edit", "Category"];
            var editUrl = Url.Action("Edit", "Category", new { id = category.Name });

            var enableLabel = MultiLanguage.Dictionary["Enable", "Category"];
            var enableUrl = Url.Action("Enable", new { id = category.Name });

            var disableLabel = MultiLanguage.Dictionary["Disable", "Category"];
            var disableUrl = Url.Action("Disable", new { id = category.Name });
                        
            <tr>
                <td>@category.Name </td>

                <td class="image"><a href="@editUrl"><img src="/Assets/Image/edit.gif" alt="@editLabel" title="@editLabel" /></a></td>

                <td class="image">
                    @if (category.Active)
                    {
                        <a href="@disableUrl"><img src="/Assets/Image/close.gif" alt="@disableLabel" title="@disableLabel" /></a>
                    }
                    else
                    {
                        <a href="@enableUrl"><img src="/Assets/Image/open.gif" alt="@enableLabel" title="@enableLabel" /></a>
                    }
                </td>
            </tr>

        } 

    </table>
} 

<div class="tableFooterButtonList">
    <button href="@Url.Action("Create")">@MultiLanguage.Dictionary["Create", "Category"]</button>
</div>