@model DFM.MVC.Models.CategoryCreateEditModel

@{
    if (Model.IsMoveCRUD) { Model.ActionName = "Create"; }
    
    ViewBag.Title = MultiLanguage.Dictionary[Model.ActionName, "Category"];

    if (Model.Type == DFM.Generic.OperationType.Edit)
    {
        ViewBag.Title += " " + Model.Name;
    }
    
    Layout = Model.IsMoveCRUD ? null : "~/Views/Shared/Inner/_Layout.cshtml";
}

<div class="half-screen CRUDCategory">

    @using (
            Model.IsMoveCRUD
                ? Ajax.BeginForm("CreateAjax", "Category", new AjaxOptionsDFM { OnSuccess = "InsertCategoryOnDropDown" })
                : Html.BeginForm()
        )
    {
        @Html.ValidationSummary()

        <p>
            @Html.LabelFor(m => m.Name, MultiLanguage.Dictionary["Category"])
            @Html.TextBoxFor(m => m.Name, new { maxlength = MaximumLength.CategoryName })
            <span class='input-ps'>@String.Format(MultiLanguage.Dictionary["CharactersMax"], MaximumLength.CategoryName)</span>
        </p>
    
        <button type="submit">@MultiLanguage.Dictionary[Model.ActionName]!</button>
    }
</div>