@model CategoriesCreateEditModel

@{
	ViewBag.Title = Context.Translate(Model.ActionName, "Category");

	var isEdit = Model.Type == OperationType.Edition;

	if (isEdit)
	{
		ViewBag.Title += $" [{Model.Category.OriginalName}]";
	}

	Layout = "~/Views/Shared/Layouts/_Form.cshtml";

	var hl = new WizardHL(isEdit)
		.AddBox("Name", null, 1)
		.AddBox("Save", null, 2)
		.AddBox("Categories", 3, null)
		;
		
	ViewBag.CategoriesMenuClass = hl["Categories"];
}

@Html.HiddenFor(m => m.Category.OriginalName)

<div class="form-group @hl["Name"]">
	@Html.LabelFor(m => m.Category.Name, Context.Translate("Category"), new { @class = "control-label" })
	@Html.TextBoxFor(m => m.Category.Name, new { maxlength = MaxLen.CategoryName, @class = "form-control" })
	@Html.ValidationMessageFor(m => m.Category.Name, null, new { @class = "text-danger" })
	<small>@String.Format(Context.Translate("CharactersMax"), MaxLen.CategoryName)</small>
</div>

@section Footer {
	<button type="submit" class="btn btn-success @hl["Save"]">
		@Context.Translate(Model.ActionName)
	</button>
}
