@model CategoriesIndexModel

@{
	ViewBag.Title = Context.Translate("Categories");
	ViewBag.WizardMessage = "Categories";
	Layout = "~/Views/Shared/_Table.cshtml";

	ViewBag.HasContent = Model.CategoryList.Any();
	ViewBag.NoContentText = Context.Translate("NoCategories");

	ViewBag.Buttons = new List<Button>
	{
		new Button(Context.Translate("Create", "Category"), "Create")
	};
}

@section TableHeader{
	<tr class="row">
		<th class="col-sm-6">@Context.Translate("Name")</th>
		<th class="col-sm-2 text-center">@Context.Translate("Status")</th>
		<th class="col-sm-4 text-center" colspan="2">@Context.Translate("TODO")</th>
	</tr>
}

@foreach (var category in Model.CategoryList)
{
	<tr class="row">
		<td class="col-sm-6">
			@category.Name
		</td>

		<td class="col-sm-2 text-center">
			@Html.Partial("Status", category.Active)
		</td>

		<td class="col-sm-2 text-center">
			<a href="@Url.Action("Edit", "Categories", new { id = category.Name })">
				<span
					class="glyphicon glyphicon-edit"
					title="@Context.Translate("Edit")"
				></span>
			</a>
		</td>

		<td class="col-sm-2 text-center">
			@if (category.Active)
			{
				@Html.Partial("MicroForm",
					MicroForm.WithGlyph(Context, "eye-close", "Disable")
						.AddIdUrl("Disable", category.Name)
				)
			}
			else
			{
				@Html.Partial("MicroForm",
					MicroForm.WithGlyph(Context, "eye-open", "Enable")
						.AddIdUrl("Enable", category.Name)
				)
			}
		</td>
	</tr>
}
