@model CategoriesIndexModel

@{
	ViewBag.Title = Context.Translate("Categories");
	Layout = "~/Views/Shared/Layouts/_Table.cshtml";

	var anyCategory = Model.CategoryList.Any();
	var createCategoryLabel = anyCategory
		? Context.Translate("CreateAnotherCategory")
		: Context.Translate("Create", "Category");

	ViewBag.HasContent = anyCategory;
	ViewBag.NoContentText = Context.Translate("NoCategories");

	var hl = new WizardHL(anyCategory)
		.AddBox("New", null, 2)
		.AddBox("Row", 0, null)
		.AddBox("Edit", 1, null)
		.AddBox("Disable", 2, null)
		.AddBox("Unify", 3, null)
		.AddBox("Admin", 4, null)
		.AddBox("Accounts", 4, null);

	ViewBag.Buttons = new List<Button>
	{
		Button.ForAction(createCategoryLabel, "Create", hl["New"])
	};

	ViewBag.AdminMenuClass = hl["Admin"];
	ViewBag.AccountsMenuClass = hl["Accounts"];
}

@section TableHeader{
	<tr class="row">
		<th class="col-sm-4">@Context.Translate("Name")</th>
		<th class="col-sm-2 text-center">@Context.Translate("Status")</th>
		<th class="col-sm-6 text-center" colspan="3">@Context.Translate("TODO")</th>
	</tr>
}

@foreach (var category in Model.CategoryList)
{
	var name = category.Name;

	<tr class="row @hl["Row"]">
		<td class="col-sm-4">
			@name
		</td>

		<td class="col-sm-2 text-center">
			@await Html.PartialAsync("Status", category.Active)
		</td>

		<td class="col-sm-2 text-center @hl["Edit"]">
			<a href="@Url.Action("Edit", "Categories", new { id = category.Name })">
				<span
					class="glyphicon glyphicon-pencil"
					title="@Context.Translate("Edit") @name"
				></span>
			</a>
		</td>

		<td class="col-sm-2 text-center @hl["Disable"]">
			@if (category.Active)
			{
				@await Html.PartialAsync("Extensions/MicroForm",
					MicroForm.WithGlyph(Context, "eye-close", "Disable")
						.AddIdUrl("Disable", name)
						.EntityName(name)
				)
			}
			else
			{
				@await Html.PartialAsync("Extensions/MicroForm",
					MicroForm.WithGlyph(Context, "eye-open", "Enable")
						.AddIdUrl("Enable", name)
						.EntityName(name)
				)
			}
		</td>

		@{
			var merge = Context.Translate("MergeTitle").Format(name);
		}

		<td class="col-sm-2 text-center @hl["Unify"]">
			<a href="@Url.Action("Unify", "Categories", new { id = category.Name })"
					class="link-glyphicon">
				<span title="@merge" class="glyphicon glyphicon-duplicate"></span>
				<span title="@merge" class="glyphicon glyphicon-arrow-right"></span>
				<span title="@merge" class="glyphicon glyphicon-file"></span>
			</a>
		</td>
	</tr>
}
