@model PlansIndexModel

@{
	ViewBag.Title = Context.Translate("PlanTitle");
	Layout = "~/Views/Shared/Layouts/_Clean.cshtml";

	ViewBag.TableLgSize = 6;
	ViewBag.TableSmSize = 8;

	ViewBag.HasContent = Model.Plan != null;
	ViewBag.NoContentText = Context.Translate("NoPlan");
}

@section Styles {
	<link href="~/Assets/styles/plan.css?v=@Cfg.Version" type="text/css" rel="stylesheet"/>
}

<div class="limits-dashboard">
	<div class="panel panel-default">
		<div class="panel-heading">
			@Context.Translate("AccountOpened")
		</div>
		<div class="panel-body">
			@Model.Plan.AccountOpened
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			@Context.Translate("CategoryEnabled")
		</div>
		<div class="panel-body">
			@Model.Plan.CategoryEnabled
		</div>
	</div>

	<div class="break"></div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			@Context.Translate("ScheduleActive")
		</div>
		<div class="panel-body">
			@Model.Plan.ScheduleActive
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			@Context.Translate("AccountMonthMove")
		</div>
		<div class="panel-body">
			@Model.Plan.AccountMonthMove
			<span class="panel-mark">
				<span class="badge">
					@Context.Translate("Monthly")
				</span>
			</span>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			@Context.Translate("MoveDetail")
		</div>
		<div class="panel-body">
			@Model.Plan.MoveDetail
		</div>
	</div>

	<div class="break"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			@Context.Translate("ArchiveMonthUpload")
		</div>
		<div class="panel-body">
			@Model.Plan.ArchiveMonthUpload
			<span class="panel-mark">
				<span class="badge">
					@Context.Translate("Monthly")
				</span>
			</span>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			@Context.Translate("ArchiveLine")
		</div>
		<div class="panel-body">
			@Model.Plan.ArchiveLine
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			@Context.Translate("ArchiveSize")
		</div>
		<div class="panel-body">
			@Model.Plan.ArchiveSize.FileSize()
		</div>
	</div>

	<div class="break"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			@Context.Translate("OrderMonth")
		</div>
		<div class="panel-body">
			@Model.Plan.OrderMonth
			<span class="panel-mark">
				<span class="badge badge-secondary">
					@Context.Translate("Monthly")
				</span>
			</span>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			@Context.Translate("OrderMove")
		</div>
		<div class="panel-body">
			@Model.Plan.OrderMove
		</div>
	</div>
</div>

@section Footer {
}
