@model PlansIndexModel

@{
	ViewBag.Title = Context.Translate("PlanTitle");
	Layout = "~/Views/Shared/Layouts/_Clean.cshtml";

	ViewBag.TableLgSize = 6;
	ViewBag.TableSmSize = 8;

	ViewBag.HasContent = Model.Plan != null;
	ViewBag.NoContentText = Context.Translate("NoPlan");

	if (!ViewBag.HasContent)
	{
		ViewBag.WizardSuffix = "Error";
	}

	var hl = new WizardHL(Model.Plan != null)
		.AddBox("ChatMenu", null, 1)
		.AddBox("AccountOpened", 3, null)
		.AddBox("CategoryEnabled", 3, null)
		.AddBox("ScheduleActive", 3, null)
		.AddBox("AccountMonthMove", 4, null)
		.AddBox("AccountMonthMoveMore", 5, null)
		.AddBox("MoveDetail", 3, null)
		.AddBox("ArchiveMonthUpload", 4, null)
		.AddBox("ArchiveLine", 3, null)
		.AddBox("ArchiveSize", 3, null)
		.AddBox("OrderMonth", 4, null)
		.AddBox("OrderMove", 3, null)
		.AddBox("Donation", 6, null)
		.AddBox("SearchMenu", 8, null);

	ViewBag.ContactMenuClass = hl["ChatMenu"];
	ViewBag.DonationButtonClass = hl["Donation"];
	ViewBag.SearchMenuClass = hl["SearchMenu"];
}

@section Styles {
	<link href="~/Assets/styles/plan.css?v=@Cfg.Version" type="text/css" rel="stylesheet"/>
}

<div class="limits-dashboard">
	<div class="panel panel-default @hl["AccountOpened"]">
		<div class="panel-heading">
			@Context.Translate("AccountOpened")
		</div>
		<div class="panel-body">
			@Model.Plan.AccountOpened
		</div>
	</div>

	<div class="panel panel-default @hl["CategoryEnabled"]">
		<div class="panel-heading">
			@Context.Translate("CategoryEnabled")
		</div>
		<div class="panel-body">
			@Model.Plan.CategoryEnabled
		</div>
	</div>

	<div class="break"></div>
	
	<div class="panel panel-default @hl["ScheduleActive"]">
		<div class="panel-heading">
			@Context.Translate("ScheduleActive")
		</div>
		<div class="panel-body">
			@Model.Plan.ScheduleActive
		</div>
	</div>

	<div class="panel panel-default @hl["AccountMonthMove"] @hl["AccountMonthMoveMore"]">
		<div class="panel-heading">
			@Context.Translate("AccountMonthMove")
		</div>
		<div class="panel-body">
			@Model.Plan.AccountMonthMove
			<span class="panel-mark">
				<span class="badge">
					@Context.Translate("Monthly")
				</span>
			</span>
		</div>
	</div>

	<div class="panel panel-default @hl["MoveDetail"]">
		<div class="panel-heading">
			@Context.Translate("MoveDetail")
		</div>
		<div class="panel-body">
			@Model.Plan.MoveDetail
		</div>
	</div>

	<div class="break"></div>

	<div class="panel panel-default @hl["ArchiveMonthUpload"]">
		<div class="panel-heading">
			@Context.Translate("ArchiveMonthUpload")
		</div>
		<div class="panel-body">
			@Model.Plan.ArchiveMonthUpload
			<span class="panel-mark">
				<span class="badge">
					@Context.Translate("Monthly")
				</span>
			</span>
		</div>
	</div>

	<div class="panel panel-default @hl["ArchiveLine"]">
		<div class="panel-heading">
			@Context.Translate("ArchiveLine")
		</div>
		<div class="panel-body">
			@Model.Plan.ArchiveLine
		</div>
	</div>

	<div class="panel panel-default @hl["ArchiveSize"]">
		<div class="panel-heading">
			@Context.Translate("ArchiveSize")
		</div>
		<div class="panel-body">
			@Model.Plan.ArchiveSize.FileSize()
		</div>
	</div>

	<div class="break"></div>

	<div class="panel panel-default @hl["OrderMonth"]">
		<div class="panel-heading">
			@Context.Translate("OrderMonth")
		</div>
		<div class="panel-body">
			@Model.Plan.OrderMonth
			<span class="panel-mark">
				<span class="badge badge-secondary">
					@Context.Translate("Monthly")
				</span>
			</span>
		</div>
	</div>

	<div class="panel panel-default @hl["OrderMove"]">
		<div class="panel-heading">
			@Context.Translate("OrderMove")
		</div>
		<div class="panel-body">
			@Model.Plan.OrderMove
		</div>
	</div>
</div>

@section Footer {
}
