@model ConfigsConfigModel

<div class="form-group">
	@Html.LabelFor(m => m.Info.Password.CurrentPassword, Context.Translate("CurrentPassword"), new { @class = "control-label" })
	@Html.PasswordFor(m => m.Info.Password.CurrentPassword, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Info.Password.Password, Context.Translate("NewPassword"), new { @class = "control-label" })
	@Html.PasswordFor(m => m.Info.Password.Password, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Info.Password.RetypePassword, Context.Translate("RetypePassword"), new { @class = "control-label" })
	@Html.PasswordFor(m => m.Info.Password.RetypePassword, new { @class = "form-control" })
</div>
