@model ConfigsPasswordModel
@{
	ViewBag.Title = Context.Translate("PasswordSettings");
	Layout = "~/Views/Shared/Layouts/_Form.cshtml";

	ViewBag.FormSizeSm = 8;
	ViewBag.FormSizeLg = 6;
}

<div class="form-group">
	@Html.LabelFor(m => m.Password.CurrentPassword, Context.Translate("CurrentPassword"), new { @class = "control-label" })
	@Html.PasswordFor(m => m.Password.CurrentPassword, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Password.Password, Context.Translate("NewPassword"), new { @class = "control-label" })
	@Html.PasswordFor(m => m.Password.Password, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Password.RetypePassword, Context.Translate("RetypePassword"), new { @class = "control-label" })
	@Html.PasswordFor(m => m.Password.RetypePassword, new { @class = "form-control" })
</div>

@section Footer {
	<button type="submit" class="btn btn-success tab-submit">
		@Context.Translate("Save")
	</button>
}
