@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section HtmlHeadCss {
    <link href="/Assets/Css/Table.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/Css/Navigation.css" rel="stylesheet" type="text/css" />

    @RenderSection("HtmlHeadCss", required: false)
}

@section HtmlFooterJs {
    @RenderSection("HtmlFooterJs", required: false)
}



@section MenuTopo {
    <ul class="menu-topo">
        <li>@Html.RouteLink(MultiLanguage.Dictionary["Accounts"], RouteNames.Default, new { action = "Index", controller = "Account" }, new { @class = "fixItem" })</li>
        <li>@Html.RouteLink(MultiLanguage.Dictionary["Categories"], RouteNames.Default, new { action = "Index", controller = "Category" }, new { @class = "fixItem" })</li>
        <li>@Html.RouteLink(MultiLanguage.Dictionary["LogOff"], RouteNames.Default, new { action = "LogOff", controller = "User" }, new { @class = "fixItem" })</li>
    </ul>
}



@section MenuBaixo {
    @RenderSection("MenuBaixo", required: false)
}



@{/* Made without spaces to hide when empty */}
@section TopRightDiv {@RenderSection("TopRightDiv", required: false)}



@section PS {
    @RenderSection("PS", required: false)
}



@RenderBody()

