@model DFM.MVC.Models.AccountCreateEditModel

@{
    ViewBag.Title = PlainText.Dictionary[Model.ActionName, "Account"];
        
    Layout = "~/Views/Shared/Inner/_Layout.cshtml";
}

<div class="MiniForm">
    @using (Html.BeginForm()) {

        @Html.ValidationSummary(true)

        <p>
            @Html.LabelFor(m => m.Name, PlainText.Dictionary["Name"])
            @Html.TextBoxFor(m => m.Name)
        </p>

        <p>
            @Html.LabelFor(m => m.Account.RedLimit, PlainText.Dictionary["RedLimit"])
            @Html.TextBoxFor(m => m.Account.RedLimit)
        </p>

        <p>
            @Html.LabelFor(m => m.Account.YellowLimit, PlainText.Dictionary["YellowLimit"])
            @Html.TextBoxFor(m => m.Account.YellowLimit)
        </p>

        <p>
            <button type="submit">@PlainText.Dictionary[Model.ActionName]!</button>
        </p>

    }
</div>

@section PS {
    @PlainText.Dictionary["RedLimit"] / @PlainText.Dictionary["YellowLimit"]: @PlainText.Dictionary["LimitExplanation"]
}
