@model DFM.MVC.Models.AccountCreateEditModel

@{
    ViewBag.Title = PlainText.Dictionary[Model.ActionName, "Account"];
        
    Layout = "~/Views/Shared/Inner/_Layout.cshtml";
}

<div class="MiniForm">
    @using (Html.BeginForm()) {

        @Html.ValidationSummary(true)

        <p>
            @Html.LabelFor(m => m.Name, PlainText.Dictionary["Name"])
            @Html.ValidationMessageFor(m => m.Name)<br />
            @Html.TextBoxFor(m => m.Name)
        </p>

        <p>
            @Html.LabelFor(m => m.Nature, PlainText.Dictionary["Nature"]) 
            @Html.ValidationMessageFor(m => m.Nature)<br />
            @Html.DropDownListFor(m => m.Nature, Model.NatureSelectList, "-- " + PlainText.Dictionary["Select"] + " --")
        </p>

        <p>
            <button type="submit">@PlainText.Dictionary[Model.ActionName]!</button>
        </p>

    } 
</div>