@model DFM.MVC.Models.AccountIndexModel

@{
    ViewBag.Title = PlainText.Dictionary["Accounts"];
    Layout = "~/Views/Shared/Inner/_Layout.cshtml";
}


@if (!Model.AccountList.Any())
{ 
    <div class="ZeroItems">@PlainText.Dictionary["NoAccounts"]</div>
}
else
{ 
    
    <table class="List">

        <tr>
            <th width="200px">@PlainText.Dictionary["Name"]</th>
            <th>@PlainText.Dictionary["BeginDate"]</th>
            <th colspan="2">@PlainText.Dictionary["Value"]</th>
            <th colspan="2">@PlainText.Dictionary["Move"]</th>
            <th colspan="2">@PlainText.Dictionary["TODO"]</th>
        </tr>

        @foreach (var account in Model.AccountList)
        {
            var movesSum = account.Sum();

            var negative = movesSum < 0;
            var value = (negative ? -movesSum : movesSum).ToMoney();

            var sign = account.Sign();
            
            var createLabel = PlainText.Dictionary["Create", "Move"];
            var createUrl = Url.RouteUrl(RouteNames.Accounts, new { action = "Create", controller = "Move", accountid = account.ID });
            
            var scheduleLabel = PlainText.Dictionary["Schedule", "Move"];
            var scheduleUrl = Url.RouteUrl(RouteNames.Accounts, new { action = "Schedule", controller = "Move", accountid = account.ID });
            
            var editLabel = PlainText.Dictionary["Edit"];
            var editUrl = Url.RouteUrl(RouteNames.Default, new { action = "Edit", controller = "Account", id = account.ID });
            
            <tr>
                <td>@account.Name </td>
                <td>@account.BeginDate.ToShortDateString() </td>

                <td class="numeric @(negative ? "out" : "in")">@value</td>
                    
                <td class="account_sign">@if (sign != null) {<img src="/Assets/image/@(sign)_sign.gif" alt="@sign" />}</td>

                <td class="image"><a href="@createUrl"><img src="/Assets/Image/create_move.gif" alt="@createLabel" title="@createLabel" /></a></td>
                <td class="image"><a href="@scheduleUrl"><img src="/Assets/Image/schedule_move.gif" alt="@scheduleLabel" title="@scheduleLabel" /></a></td>
                <td class="image"><a href="@editUrl"><img src="/Assets/Image/edit.gif" alt="@editLabel" title="@editLabel" /></a></td>

                <td>
                    @if (account.HasMoves())
                    {
                        @Ajax.ActionLink(
                                PlainText.Dictionary["Close"], "Close", new { id = account.ID },
                                new AjaxOptionsDFM() { Confirm = String.Format(PlainText.Dictionary["CloseConfirm"], account.Name) }
                            ) 
                    }
                    else
                    {
                        @Ajax.ActionLink(
                                PlainText.Dictionary["Delete"], "Delete", new { id = account.ID },
                                new AjaxOptionsDFM() { Confirm = String.Format(PlainText.Dictionary["DeleteConfirm"], account.Name) }
                            ) 
                    }
                </td>
            </tr>

        } 

    </table>
} 

<div class="tableFooterButtonList">
    <button href="@Url.Action("Create")">@PlainText.Dictionary["Create", "Account"]</button>
    <button href="@Url.Action("ListClosed")">@PlainText.Dictionary["ClosedAccounts"]</button>
</div>