@model DFM.MVC.Models.AccountIndexModel

@{
    ViewBag.Title = PlainText.Dictionary["ClosedAccounts"];
    Layout = "~/Views/Shared/Inner/_Layout.cshtml";
}

@if (!Model.AccountList.Any())
{ 
    <div class="ZeroItems">@PlainText.Dictionary["NoClosedAccounts"]</div>
}
else
{ 
        
    <table class="List">

        <tr>
            <th>@PlainText.Dictionary["Name"]</th>
            <th>@PlainText.Dictionary["BeginDate"]</th>
            <th>@PlainText.Dictionary["EndDate"]</th>
            <th>@PlainText.Dictionary["Value"]</th>
            <th colspan="2">@PlainText.Dictionary["GOTO"]</th>
        </tr>

        @foreach (var account in Model.AccountList)
        {
            var endMonth = account.EndDate.Value.Month;
            var endYear = account.EndDate.Value.Year;
            var monthReportId = endYear * 100 + endMonth;

            
            var movesSum = account.Sum();
            var negative = movesSum < 0;
            var value = (negative ? -movesSum : movesSum).ToMoney();

            var sign = account.Sign();
                    

            var monthLabel = String.Format(PlainText.Dictionary["MonthMoves"] + " ({1})", PlainText.GetMonthName(endMonth), endYear);
            var monthUrl = Url.RouteUrl(RouteNames.Accounts, new { action = "ShowMoves", controller = "Report", accountid = account.ID, id = monthReportId });
                    
            var yearLabel = String.Format(PlainText.Dictionary["YearMoves"], account.EndDate.Value.Year);
            var yearUrl = Url.RouteUrl(RouteNames.Accounts, new { action = "SummarizeMonths", controller = "Report", accountid = account.ID, id = endYear });
                        
            <tr>
                <td>@account.Name </td>
                <td>@account.BeginDate.ToShortDateString() </td>
                <td>@account.EndDate.Value.ToShortDateString() </td>

                <td class="numeric @(negative ? "out" : "in")">@value</td>

                <td class="image"><a href="@monthUrl"><img src="/Assets/Image/month.gif" alt="@monthLabel" title="@monthLabel" /></a></td>
                <td class="image"><a href="@yearUrl"><img src="/Assets/Image/year.gif" alt="@yearLabel" title="@yearLabel" /></a></td>
            </tr>

        } 

    </table>
} 
