@model DFM.MVC.Models.AccountIndexModel

@{
    ViewBag.Title = PlainText.Dictionary["ClosedAccounts"];
    Layout = "~/Views/Shared/Inner/_Layout.cshtml";
}

@if (!Model.AccountList.Any()) { 
    
    @PlainText.Dictionary["NoClosedAccounts"]

} else { 
        
    <table class='List'>

        <tr>
            <td>@PlainText.Dictionary["Name"]</td>
            <td>@PlainText.Dictionary["BeginDate"]</td>
            <td>@PlainText.Dictionary["EndDate"]</td>
            <td>@PlainText.Dictionary["Value"]</td>
            <td colspan="2">@PlainText.Dictionary["GOTO"]</td>
        </tr>

        @foreach (var account in Model.AccountList) { 
            
            <tr>
                <td>@account.Name </td>
                <td>@account.BeginDate.ToShortDateString() </td>
                <td>@account.EndDate.Value.ToShortDateString() </td>
                <td>@account.MovesSum </td>

                <td>@Html.RouteLink(
                        String.Format(PlainText.Dictionary["MonthMoves"], Model.CurrentMonth),
                        RouteNames.Accounts,
                        new { action = "SeeMonth", controller = "Report", accountid = account.ID }, new { })</td>
                
                <td>@Html.RouteLink(
                        String.Format(PlainText.Dictionary["YearMoves"], Model.CurrentYear),
                        RouteNames.Accounts,
                        new { action = "SeeYear", controller = "Report", accountid = account.ID }, new { })</td>
            </tr>

        } 

    </table>
} 
