@model DFM.MVC.Models.BaseLoggedModel

@foreach (var account in Model.LateralAccountList) { 
    <p>
        <span class="accountName">@account.Name </span><br />
        @Html.RouteLink(Model.CurrentMonth, DFM.MVC.Helpers.RouteNames.Accounts, new { controller = "Report", action = "SeeMonth", accountid = account.ID })
        @Html.RouteLink(Model.CurrentYear, DFM.MVC.Helpers.RouteNames.Accounts, new { controller = "Report", action = "SeeYear", accountid = account.ID }) 
    </p>
}

@if (Model.LateralAccountList.Any()) { <br /> }

<p>
    @Html.ActionLink("New Account", "Create", "Account")
    <br />
    @Html.RouteLink("Home", DFM.MVC.Helpers.RouteNames.Default, new { action = "Index", controller = "Account"})
    <b>//</b>
    @Html.RouteLink("Log Off", DFM.MVC.Helpers.RouteNames.Default, new { action = "LogOff", controller = "User"})
</p>