@using DFM.Generic.Pages
@using DFM.MVC.Helpers

@model ReportsShowMovesModel

@{
	ViewBag.Title = Model.Date;

	ViewBag.WizardMessage =
		Model.MoveList.Any()
			? "ShowMovesFilled"
			: "ShowMovesEmpty";

	Layout = "~/Views/Shared/_Table.cshtml";

	ViewBag.HasContent = Model.MoveList.Any();
	ViewBag.NoContentText = Translator.Dictionary["NoMonthMoves"];

	var beginDate = new MonthYearUnit(Model.Account.Start);
	var endDate = new MonthYearUnit(Model.Account.End ?? Service.Current.Now);
	var current = new MonthYearUnit(Model.Year, Model.Month);

	var pages = new Pages(beginDate, endDate, current, 5);
}

@section TableHeader {

	@{
		var descriptionSize = 2
			+ (Model.CanCheck ? 0 : 2)
			+ (Model.IsUsingCategories ? 0 : 2);
	}

	<tr class="row">
		<th class="col-sm-@descriptionSize">@Translator.Dictionary["Description"]</th>

		@if (Model.IsUsingCategories)
		{
			<th class="col-sm-2 text-center">@Translator.Dictionary["Category"]</th>
		}

		<th class="col-sm-2 text-center">@Translator.Dictionary["Date"]</th>
		<th class="col-sm-1 text-center">@Translator.Dictionary["In"]</th>
		<th class="col-sm-1 text-center">@Translator.Dictionary["Out"]</th>

		@if (Model.CanCheck)
		{
			<th class="col-sm-1 text-center">@Translator.Dictionary["Status"]</th>
		}

		<th class="col-sm-@(Model.CanCheck ? 3 : 2) text-center" colspan="@(Model.CanCheck ? 3 : 2)">
			@Translator.Dictionary["TODO"]
		</th>
	</tr>
}

@foreach (var subModel in Model.MoveList)
{
	@Html.Partial("MoveLine", subModel)
}

@section Footer {
	<div class="row">
		<div class="col-lg-2 col-sm-2"></div>

		<div class="col-lg-8 col-sm-8 text-center">
			@Html.Partial("Pagination", pages)
		</div>

		<div class="col-lg-2 col-sm-2">
			@Html.Partial("Total")
		</div>
	</div>
}
