@model ReportsShowMovesModel

@{
	ViewBag.Title = Model.Date;

	ViewBag.WizardMessage =
		Model.MoveList.Any()
			? "ShowMovesFilled"
			: "ShowMovesEmpty";

	Layout = "~/Views/Shared/Layouts/_Table.cshtml";

	ViewBag.HasContent = Model.MoveList.Any();
	ViewBag.NoContentText = Context.Translate("NoMonthMoves");

	var beginDate = new MonthYearUnit(Model.Account.Start);
	var endDate = new MonthYearUnit(Model.Account.End ?? Context.GetService().Current.Now);
	var current = new MonthYearUnit(Model.Year, Model.Month);

	var pages = new Pages(beginDate, endDate, current, 5);
}

@section TableHeader {

	@{
		var descriptionSize = 2
			+ (Model.CanCheck ? 0 : 2)
			+ (Model.IsUsingCategories ? 0 : 2);

		var colspan = Model.CanCheck ? 3 : 2;
	}

	<tr class="row">
		<th class="col-sm-@descriptionSize">@Context.Translate("Description")</th>

		@if (Model.IsUsingCategories)
		{
			<th class="col-sm-2 text-center">@Context.Translate("Category")</th>
		}

		<th class="col-sm-2 text-center">@Context.Translate("Date")</th>
		<th class="col-sm-1 text-center">@Context.Translate("In")</th>
		<th class="col-sm-1 text-center">@Context.Translate("Out")</th>

		@if (Model.CanCheck)
		{
			<th class="col-sm-1 text-center">@Context.Translate("Status")</th>
		}

		<th class="col-sm-@(Model.CanCheck ? 3 : 2) text-center" colspan="@colspan">
			@Context.Translate("TODO")
		</th>
	</tr>
}

@foreach (var subModel in Model.MoveList)
{
	@await Html.PartialAsync("MoveLine", subModel)
}

@section Footer {
	<div class="row">
		<div class="col-lg-2 col-sm-2"></div>

		<div class="col-lg-8 col-sm-8 text-center">
			@await Html.PartialAsync("Extensions/Pagination", pages)
		</div>

		<div class="col-lg-2 col-sm-2">
			@await Html.PartialAsync("Total")
		</div>
	</div>
}
