@model ReportsSummarizeMonthsModel

@{
	ViewBag.Title = Model.Date;
	ViewBag.WizardMessage = "SummarizeMonths";
	Layout = "~/Views/Shared/Layouts/_Table.cshtml";

	var monthList = Model.Year.MonthList
		.OrderBy(m => m.Number)
		.Where(m => m.CurrentIn != 0 || m.CurrentOut != 0)
		.ToList();

	ViewBag.HasContent = monthList.Any();
	ViewBag.NoContentText = Context.Translate("NoYearMoves");
	ViewBag.TableLgSize = 6;
	ViewBag.TableSmSize = 8;

	var start = new YearUnit(Model.Account.Start);
	var end = new YearUnit(Model.Account.End ?? Context.GetService().Current.Now);
	var current = new YearUnit(Model.Year.Time);

	var pages = new Pages(start, end, current, 5);
}

@section TableHeader{
	<tr class="row">
		<th class="col-sm-3 text-center">@Context.Translate("Month")</th>
		<th class="col-sm-3 text-center">@Context.Translate("In")</th>
		<th class="col-sm-3 text-center">@Context.Translate("Out")</th>
		<th class="col-sm-3 text-center">@Context.Translate("Total")</th>
	</tr>
}

@foreach (var month in monthList)
{
	<tr class="row">
		<td class="col-sm-3">
			<a href="@Url.Action("ShowMoves", new {id = month.Number})">
				@Context.GetMonthName(month.Number % 100)
			</a>
		</td>
		<td class="col-sm-3 text-right">
			@await Html.PartialAsync("Extensions/ValueWithSign", new ValueWithSign(month.CurrentIn, Model.Language, true))
		</td>
		<td class="col-sm-3 text-right">
			@await Html.PartialAsync("Extensions/ValueWithSign", new ValueWithSign(-month.CurrentOut, Model.Language, true))
		</td>
		<td class="col-sm-3 text-right">
			@await Html.PartialAsync("Extensions/ValueWithSign", new ValueWithSign(month.CurrentTotal, Model.Language))
		</td>
	</tr>

}

@section Footer {
	<div class="row">
		<div class="col-lg-2 col-sm-2"></div>

		<div class="col-lg-8 col-sm-8 text-center">
			@await Html.PartialAsync("Extensions/Pagination", pages)
		</div>

		<div class="col-lg-2 col-sm-2">
			@await Html.PartialAsync("Total")
		</div>
	</div>
}
