@{
	Layout = "_Master.cshtml";
	String action = ViewBag.Action;
	String controller = ViewBag.Controller;
	object routeValues = ViewBag.RouteValues;

	var formSize = ViewBag.FormSize ?? 4;
	if (formSize % 2 == 1) { formSize++; }
	var push = 6 - formSize / 2;
}

<div class="row move-down">
	<div class="col-sm-@(formSize) col-sm-push-@push">

		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h4>@ViewBag.Title</h4>
			</div>

			@using (Html.BeginForm(action, controller, routeValues))
			{
				<div class="panel-body">
					@Html.Partial("ValidationSummary")

					@RenderBody()
				</div>

				<div class="panel-title"></div>
				
				<div class="panel-footer text-right">
					@RenderSection("Footer", false)
				</div>
			}
		</div>

	</div>
</div>

@section Scripts { @RenderSection("Scripts", false) }
@section Styles { @RenderSection("Styles", false) }
