@section HtmlHeadCss {
    <link href="/Assets/css/Table.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/css/Navigation.css" rel="stylesheet" type="text/css" />

    @RenderSection("HtmlHeadCss", false)
}

@section HtmlFooterJs {
    @RenderSection("HtmlFooterJs", false)
}



@section MenuTopo
{
    @RenderSection("MenuTopo", false)

    <li class="icon settings">@Html.RouteLink(" ", RouteNames.Default, new { action = "Config", controller = "User" })</li>
    <li class="icon logoff">@Html.RouteLink(" ", RouteNames.Default, new { action = "LogOff", controller = "User" })</li>
}



@{/* Made without spaces to hide when empty */}
@section TopRightDiv {@RenderSection("TopRightDiv", false)}



@section PS {
    @RenderSection("PS", false)
}



@RenderBody()

