@using DFM.Generic
@model BaseSiteModel

<!DOCTYPE html>

<html>
<head>
	<title>@Html.Partial("Title")</title>

	<link rel="icon" href="/Assets/Images/pig.ico" />
	<meta property="og:image" content="https://dontflymoney.com/Assets/Images/face-pig.png" />

	<link href="~/Assets/Libs/Themes/bootstrap-@(Model.Theme).min.css?v=@Cfg.Version" rel="stylesheet" type="text/css" id="bootstrap-theme" />
	<link href="~/Assets/Styles/android.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
	<link href="~/Assets/Styles/default.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />
	<link href="~/Assets/Libs/Datepicker/bootstrap-datetimepicker.css?v=@Cfg.Version" rel="stylesheet" type="text/css" />

	@RenderSection("Styles", false)

	<script src="~/Assets/Libs/Scripts/jquery-3.3.1.min.js?v=@Cfg.Version" type="text/javascript"></script>
	<script src="~/Assets/Libs/Datepicker/moment.min.js?v=@Cfg.Version" type="text/javascript"></script>

	<script src="~/Assets/Libs/Scripts/bootstrap.min.js?v=@Cfg.Version" type="text/javascript"></script>
	<script src="~/Assets/Libs/Datepicker/bootstrap-datetimepicker.min.js?v=@Cfg.Version" type="text/javascript"></script>

	<script src="~/Assets/Libs/MaskedMoney/jquery.maskMoney.js?v=@Cfg.Version" type="text/javascript"></script>

	@{
		var language = Model.Language.ToLower();

		if (language != "en-us")
		{
			<script src="~/Assets/Libs/Datepicker/moment-@(language).js?v=@Cfg.Version"></script>
			<script type="text/javascript">
				window.language = "@language";
			</script>
		}
	}

	<script src="~/Assets/Scripts/default.js?v=@Cfg.Version" type="text/javascript"></script>

	@RenderSection("Scripts", false)
</head>
<body>

	@Html.Partial("Header")

	<div id="body" class="container">
		@Html.Partial("Wizard")
		@RenderBody()
	</div>

	@Html.Partial("Footer")

</body>
</html>