@model BaseModel

<!DOCTYPE html>

<html>
<head>
	<title>
		@(
			ViewBag.Title != null 
				? "DfM - " + ViewBag.Title
				: "Don't fly Money"
		)
	</title>

	<link rel="icon" href="/Assets/Images/pig.ico" />

	<link href="/Assets/Bootstrap/Themes/bootstrap-@(Model.Theme).min.css" rel="stylesheet" type="text/css" />
	<link href="/Assets/Styles/android.css" rel="stylesheet" type="text/css" />
	<link href="/Assets/Styles/default.css" rel="stylesheet" type="text/css" />

	@RenderSection("Styles", false)

	<script src="/Assets/Bootstrap/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/Assets/Bootstrap/Scripts/bootstrap.min.js" type="text/javascript"></script>

	@RenderSection("Scripts", false)
</head>
<body>

	@Html.Partial("Header")

	<div id="body" class="container">
		@RenderBody()
	</div>

	@Html.Partial("Footer")

</body>
</html>