@model BaseModel
           
@{
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

@section HtmlHeadCss {
    @RenderSection("HtmlHeadCss", false)
}

@section HtmlFooterJs {
    @RenderSection("HtmlFooterJs", false)
}



@section MenuTopo {
    <li>@Html.RouteLink(MultiLanguage.Dictionary["Accounts"], RouteNames.Default, new {action = "Index", controller = "Account"})</li>
        
    @if (Auth.Current.User.Config.UseCategories)
    {
        <li>@Html.RouteLink(MultiLanguage.Dictionary["Categories"], RouteNames.Default, new {action = "Index", controller = "Category"})</li>
    }

    <li>@Html.RouteLink(MultiLanguage.Dictionary["Schedules"], RouteNames.Default, new { action = "Index", controller = "Schedule" })</li>
    <li>@Html.RouteLink(MultiLanguage.Dictionary["Logins"], RouteNames.Default, new { action = "Index", controller = "Logins" })</li>
}



@{/* Made without spaces to hide when empty */}
@section TopRightDiv {@RenderSection("TopRightDiv", false)}



@section PS {
    @RenderSection("PS", false)
}



@RenderBody()

