@using DFM.MVC.Areas.Account.Models
@model BaseModel

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img alt="DFM" src="/Assets/Images/pig.png" width="25" /></a>
			<a class="navbar-brand" href="/">Don't fly Money</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav navbar-right">
				@if (!Model.IsAuthenticated)
				{
					<li>@Html.RouteLink(MultiLanguage.Dictionary["Login"], RouteNames.DEFAULT, new {action = "LogOn", controller = "Users"})</li>
					<li>@Html.RouteLink(MultiLanguage.Dictionary["SignUp"], RouteNames.DEFAULT, new {action = "SignUp", controller = "Users"})</li>
					<li>@Html.ActionLink(MultiLanguage.Dictionary["TokenReceivedByEmail"], "Index", "Tokens")</li>
				}
				else
				{
					if (Model.IsExternal)
					{
						<li>@Html.RouteLink(MultiLanguage.Dictionary["Enter"], RouteNames.DEFAULT, new {action = "Index", controller = "Accounts"})</li>
					}
					else if (Model.GetType().IsSubclassOf(typeof (BaseAccountModel)))
					{
					}
					else
					{
						<li>@Html.RouteLink(MultiLanguage.Dictionary["Accounts"], RouteNames.DEFAULT, new {action = "Index", controller = "Accounts"})</li>

						if (Model.UseCategories)
						{
							<li>@Html.RouteLink(MultiLanguage.Dictionary["Categories"], RouteNames.DEFAULT, new {action = "Index", controller = "Categories"})</li>
						}

						<li>@Html.RouteLink(MultiLanguage.Dictionary["Schedules"], RouteNames.DEFAULT, new {action = "Index", controller = "Schedules"})</li>
						<li>@Html.RouteLink(MultiLanguage.Dictionary["Logins"], RouteNames.DEFAULT, new {action = "Index", controller = "Logins"})</li>
					}
					
					<li>
						<a href="@Url.RouteUrl(RouteNames.DEFAULT, new {action = "Config", controller = "Users"})">
							<span class="glyphicon glyphicon-cog"></span>
						</a>
					</li>

					<li>
						<a href="@Url.RouteUrl(RouteNames.DEFAULT, new {action = "LogOff", controller = "Users"})">
							<span class="glyphicon glyphicon-off"></span>
						</a>
					</li>
				}

				@*<li class="active">
					<a href="#">Link <span class="sr-only">(current)</span></a>
				</li>*@

			</ul>
		</div>
	</div>
</nav>