@model LoginsIndexModel

@{
	ViewBag.Title = Translator.Dictionary["Logins"];
	ViewBag.WizardMessage = Wizard.Logins;
	Layout = "~/Views/Shared/_Table.cshtml";

	ViewBag.HasContent = Model.LoginsList.Any();
	ViewBag.NoContentText = Translator.Dictionary["NoLogins"];
	ViewBag.TableLgSize = 8;
}

@section TableHeader {
	<tr class="row">
		<th class="col-sm-4">@Translator.Dictionary["Creation"]</th>
		<th class="col-sm-4 text-center">@Translator.Dictionary["Type"]</th>
		<th class="col-sm-4 text-center">@Translator.Dictionary["TODO"]</th>
	</tr>
}


@foreach (var login in Model.LoginsList)
{
	<tr class="row">
		<td class="col-sm-4">@login.Creation</td>

		<td class="col-sm-4 text-center">
			<span class="label label-@Html.Partial("LoginType", login.Type)">
				@Translator.Dictionary[login.Type.ToString()]
			</span>
		</td>

		@{
			var deleteConfirm =
				String.Format(
					Translator.Dictionary["ConfirmDeleteLogin"],
						login.Creation,
						Translator.Dictionary[login.Type.ToString()]
				);
		}

		<td class="col-sm-4 text-center">
			@Html.Partial("MicroForm", 
				MicroForm.WithGlyph("trash", "Delete")
					.AddIdUrl("Delete", login.Key)
			)
		</td>

	</tr>

} 
