@model LoginsIndexModel

@{
	ViewBag.Title = MultiLanguage.Dictionary["Logins"];
	ViewBag.WizardMessage = Wizard.Logins;
	Layout = "~/Views/Shared/_Table.cshtml";

	ViewBag.HasContent = Model.LoginsList.Any();
	ViewBag.NoContentText = MultiLanguage.Dictionary["NoLogins"];
	ViewBag.TableLgSize = 8;
}

@section TableHeader {
	<tr class="row">
		<th class="col-sm-4">@MultiLanguage.Dictionary["Creation"]</th>
		<th class="col-sm-4 text-center">@MultiLanguage.Dictionary["Type"]</th>
		<th class="col-sm-4 text-center">@MultiLanguage.Dictionary["TODO"]</th>
	</tr>
}


@foreach (var login in Model.LoginsList)
{
	<tr class="row">
		<td class="col-sm-4">@login.Creation</td>

		<td class="col-sm-4 text-center">
			<span class="label label-@Html.Partial("LoginType", login.Type)">
				@MultiLanguage.Dictionary[login.Type.ToString()]
			</span>
		</td>

		@{
			var deleteConfirm =
				String.Format(
					MultiLanguage.Dictionary["ConfirmDeleteLogin"],
						login.Creation,
						MultiLanguage.Dictionary[login.Type.ToString()]
				);
		}

		<td class="col-sm-4 text-center">
			<a href="@Url.Action("Delete", "Logins", new { id = login.Key })"
			   class="withConfirm" confirm="@deleteConfirm">
				<span
					class="glyphicon glyphicon-trash"
					title="@MultiLanguage.Dictionary["Delete"]"
				></span>
			</a>
		</td>

	</tr>

} 
