@model LoginsIndexModel

@{
    ViewBag.Title = MultiLanguage.Dictionary["Logins"];
    Layout = "~/Views/Shared/_NoAreaLayout.cshtml";
}



@if (!Model.LoginsList.Any())
{ 
    <div class="zero-items">@MultiLanguage.Dictionary["NoSchedules"]</div>
}
else
{    
    <table class="List">

        <tr>
            <th>@MultiLanguage.Dictionary["Creation"]</th>
            <!--th>@MultiLanguage.Dictionary["Expiration"]</th-->
            <th>@MultiLanguage.Dictionary["Type"]</th>
            <th class="todo-column">@MultiLanguage.Dictionary["TODO"]</th>
        </tr>

        @foreach (var login in Model.LoginsList)
        {
            <tr>
                <td>@login.Creation</td>
                <!--td>@login.Expiration</td-->
                <td>@MultiLanguage.Dictionary[login.Type.ToString()]</td>

                @{
                    var deleteLabel = MultiLanguage.Dictionary["Delete", "LoginRegister"];
                    var deleteUrl = Url.Action("Delete", "Logins", new { id = login.Key });
                    var deleteConfirm = 
                        String.Format(
                            MultiLanguage.Dictionary["ConfirmDeleteLogin"],
                                login.Creation, 
                                MultiLanguage.Dictionary[login.Type.ToString()]
                        );
                }

                <td class="image">
                    <a href="@deleteUrl" class="withConfirm" confirm="@deleteConfirm">
                        <img src="/Assets/image/icons/delete.gif" alt="@deleteLabel" title="@deleteLabel" />
                    </a>
                </td>
                
            </tr>

        } 

    </table>
}