@model BaseMovesModel

@{
	ViewBag.Title = MultiLanguage.Dictionary[Model.ActionName, Model.ControllerName];
	Layout = "~/Views/Shared/_Form.cshtml";
	ViewBag.FormSize = 4;

	var scheduleModel = Model as SchedulesCreateModel;
}

@section Scripts {
	<script src="/Assets/Scripts/toggle.js" type="text/javascript"></script>
	<script src="/Assets/Scripts/move-crud.js" type="text/javascript"></script>
}

@Html.Partial("../Moves/MoveMainData")

@Html.Partial("../Moves/Nature")

@Html.Partial("../Moves/Account")

@Html.Partial("../Moves/ValueAndDetail")

@if (scheduleModel != null)
{
	@Html.Partial("../Schedules/OtherFields", scheduleModel)
}

@section Footer {
	<button type="submit" class="btn btn-success">
		@MultiLanguage.Dictionary[Model.ActionName]
	</button>
}