@using DFM.Generic
@using DFM.MVC.Assets.Resources
@model BaseMovesModel

@{
	ViewBag.Title = MultiLanguage.Dictionary[Model.ActionName, Model.ControllerName];
	Layout = "~/Views/Shared/_Form.cshtml";
	ViewBag.FormSizeSm = 10;
	ViewBag.FormSizeLg = 6;

	var scheduleModel = Model as SchedulesCreateModel;
}

@if (Model.BlockScreen)
{
	if (Model.ShowNoAccounts)
	{
		<div class="alert alert-danger text-center">
			@Html.Raw(Moves.NoAccountsMove.BreakLines())
		</div>
	}

	if (Model.ShowNoCategories)
	{
		<div class="alert alert-danger text-center">
			@Html.Raw(Moves.NoCategoriesMove.BreakLines())
		</div>
	}

	@section Footer {
		@if (Model.ShowNoAccounts)
		{
			@Html.RouteLink(MultiLanguage.Dictionary["Accounts"],
				RouteNames.DEFAULT, new { controller = "Accounts" },
				new { @class = "btn btn-success" })
		}

		@if (Model.ShowNoCategories)
		{
			@Html.RouteLink(MultiLanguage.Dictionary["Categories"],
				RouteNames.DEFAULT, new { controller = "Categories" },
				new { @class = "btn btn-success" })
		}
	}
}
else
{
	@section Scripts {
		<script src="~/Assets/Scripts/toggle.js" type="text/javascript"></script>
		<script src="~/Assets/Scripts/move-crud.js" type="text/javascript"></script>
	}

	if (Model.ShowLosingCategory)
	{
		<div class="alert alert-info text-center">
			@Html.Raw(Moves.MoveLosingCategory.BreakLines())
		</div>
	}

	if (scheduleModel != null)
	{
		@Html.Partial("../Schedules/ExclusiveFields", scheduleModel)
		<hr/>
	}

	@Html.Partial("../Moves/MoveMainData")

	<hr/>

	@Html.Partial("../Moves/NatureAndAccount")

	<hr/>

	@Html.Partial("../Moves/ValueAndDetail")

	@section Footer {
		<button type="submit" class="btn btn-success">
			@MultiLanguage.Dictionary[Model.ActionName]
		</button>
	}
}