@model DFM.MVC.Models.TokenPasswordResetModel

@{
    ViewBag.Title = PlainText.Dictionary["PasswordReset"];
    Layout = "~/Views/Shared/Outer/_Layout.cshtml";
}

<div class="HalfScreen">
    @using (Html.BeginForm()) { 

        @Html.ValidationSummary(true)

        <p>
            @Html.LabelFor(m => m.Password, PlainText.Dictionary["Password"])
            @Html.PasswordFor(m => m.Password)
        </p>

        <p>
            @Html.LabelFor(m => m.RetypePassword, PlainText.Dictionary["RetypePassword"])
            @Html.PasswordFor(m => m.RetypePassword)
        </p>
        
        <button type="submit">@PlainText.Dictionary["Create"]!</button>

    }
</div>