@model BaseModel

@{
	var contacts = new Dictionary<String, String>
	{
		{ "Email", "dfm@dontflymoney.com" },
	};
}

<div class="modal" id="contact-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title">
					@Context.Translate("Contact_Title")
				</span>
				@await Html.PartialAsync("Modals/Close")
			</div>

			<div class="modal-body">
				<ul>
					@foreach (var contact in contacts)
					{
						var text = Context.Translate($"Contact_{contact.Key}");
						var link = contact.Value;
						var target = "";

						if (!link.StartsWith("https"))
						{
							link = $"mailto:{link}";
						}
						else
						{
							target = "target='_blank'";
						}

						var a = $"<a href='{link}' {target}>{contact.Value}</a>";

						<li>
							@Html.Raw(String.Format(text, a))
						</li>
					}
				</ul>

				<hr/>

				<h2>
					<a href="https://github.com/darakeon/dfm/" target="_blank">
						@Context.Translate("Contact_Project")
					</a>
					<em class="small">
						@Context.Translate("Contact_PS")
					</em>
				</h2>

				<ul>
					<li>
						<a href="https://github.com/darakeon/dfm/blob/main/docs/RELEASES.md" target="_blank">
							@Context.Translate("Contact_Releases")
						</a>
					</li>
					<li>
						<a href="https://github.com/darakeon/dfm/blob/main/docs/TODO.md" target="_blank">
							@Context.Translate("Contact_TODO")
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
