@model BaseModel

@{
	var settingsModel = new SettingsIndexModel();
	var defaultRoute = new Default.Main();
	var routeValues = new
	{
		controller = "Settings",
		action = settingsModel.IsAuthenticated
			? "Index"
			: "ChangeLanguageOffline"
	};
}

<div class="modal" id="language-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<span class="modal-title">
					@Context.Translate("Language")
				</span>
				@await Html.PartialAsync("Modals/Close")
			</div>

			<div class="modal-body">
				@using (Html.BeginRouteForm(
					defaultRoute.Name,
					routeValues
				)) {
					var langList = settingsModel
						.LanguageList
						.OrderByDescending(l => l.Value);

					foreach (var lang in langList)
					{
						<button class="btn btn-primary @lang.Value"
						        name="@settingsModel.LanguageFieldName"
						        value="@(lang.Value)"
						        title="@(lang.Text)"
						        id="language-@(lang.Value)">
							@await Html.PartialAsync($"Flags/{lang.Value}")
						</button>
					}

					<input type="hidden"
					       name="@settingsModel.BackFieldName"
					       value="@Context.Request.Path" />
				}
			</div>
		</div>
	</div>
</div>
