@model BaseModel

@{
	var searchModel = new ReportsSearchModel();
	var defaultRoute = new Default.Main();
	var title = Context.Translate("Search_Title");
}

<div class="modal" id="search-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<span class="modal-title">
					@title
				</span>
				@await Html.PartialAsync("Modals/Close")
			</div>

			<div class="modal-body">
				@using (Html.BeginRouteForm(
					defaultRoute.Name,
					new { controller = "Reports", action = "Search" }
				)) {
					<div class="text-center">
						<label for="@searchModel.FieldName">
							@Context.Translate("Search_Text")
						</label>
					</div>

					<div class="form-group">
						<input class="form-control"
						       id="@searchModel.FieldName"
						       name="@searchModel.FieldName"
						       placeholder="@Context.Translate("Search_Placeholder")" />
					</div>

					<button class="btn btn-info btn-glyph" title="@title">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				}
			</div>
		</div>
	</div>
</div>
