@{
    var isAuthenticated = DFM.MVC.Authentication.Current.IsAuthenticated;

    var routeValues = isAuthenticated
        ? new { controller = "Account", action = "Index" }
        : new { controller = "User", action = "Index" };

    string normalLogOutButton = "/Assets/Image/off_" + ViewBag.Buttons + ".gif";
    string hoverLogOutButton = "/Assets/Image/off_" + ViewBag.Buttons + "_hover.gif";

    string logo = "/Assets/Image/logo_" + ViewBag.Buttons + ".gif";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>DFM - @ViewBag.Title</title>

    <link rel="icon" href="/Assets/Image/pig.ico" />

    <link href="/Assets/Css/MVC.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/Css/General.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/Css/MiniForm.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/Css/Forms.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/Css/TopRightDiv.css" rel="stylesheet" type="text/css" />

    @RenderSection("HtmlHeadCss", required: false)

    <script src="/Assets/Script/Libraries/jquery-1.6.1.min.js" type="text/javascript"></script>
    <script src="/Assets/Script/Libraries/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Assets/Script/Libraries/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="/Assets/Script/Libraries/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
</head>
<body>
	<div id="Head">

        @if (isAuthenticated)
        {
            <a href="@Url.RouteUrl(RouteNames.Default, new { action = "LogOff", controller = "User" })">
                

                <img id="Out" alt="@PlainText.Dictionary["LogOff"]" src="@normalLogOutButton"
                    onmouseover="this.src='@hoverLogOutButton'"
                    onmouseout="this.src='@normalLogOutButton'" />
            </a>
        }
        
        <a id="Logo" href="@(Url.RouteUrl(RouteNames.Default, routeValues))">
            <img alt="DFM" src="/Assets/Image/pig.gif" />
            <img alt="DFM" src="@logo" />
        </a>
	</div>

    <div id="Belt">
        @RenderSection("Menu", required: false)
    </div>

    <div id="Main">
        @{/* Made without spaces to hide when empty */}
        <div id="TopRightDiv">@RenderSection("TopRightDiv", required: false)</div>

        <h2>@ViewBag.Title<hr class="underTitle" /></h2>

        @RenderBody()
    </div>

    <div id="PS">
        @RenderSection("PS", required: false)
    </div>

    <div id="Footer">
		Don't Fly Money - Since 2011
	</div>
</body>
<footer>
    <script src="/Assets/Script/Libraries/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/Assets/Script/Libraries/jquery.maskMoney.0.2.js" type="text/javascript"></script>


    <script src="/Assets/Script/MoneyAndDate.js" type="text/javascript"></script>
    <script src="/Assets/Script/ButtonHref.js" type="text/javascript"></script>
    <script src="/Assets/Script/Ajax.js" type="text/javascript"></script>
    <script src="/Assets/Script/Detail.js" type="text/javascript"></script>
    <script src="/Assets/Script/Navigation.js" type="text/javascript"></script>
    <script src="/Assets/Script/Menu.js" type="text/javascript"></script>
    <script src="/Assets/Script/Forms.js" type="text/javascript"></script>

    <script src="/Assets/Script/Starter.js" type="text/javascript"></script>

    @RenderSection("HtmlHeadJs", required: false)
</footer>
</html>