@model DFM.MVC.Areas.Accounts.Models.ReportSeeMonthModel

@{
    ViewBag.Title = String.Format("{0}: {1}", Model.Account, Model.Date);
    Layout = "~/Views/Shared/Inner/_Layout.cshtml";
}

@section HtmlHead { 
    <script src='@Url.Content("~/Assets/Script/Pages/ReportSeeMonth.js")' type='text/javascript'></script>
}

@if (Model.MoveList.Count == 0) { 
    
    @PlainText.Dictionary["NoMonthMoves"]
        
} else { 
        
    <table class="List">

        <tr>
            <td>@PlainText.Dictionary["Description"]</td>
            <td>@PlainText.Dictionary["Category"]</td>
            <td>@PlainText.Dictionary["Date"]</td>
            <td>@PlainText.Dictionary["In"]</td>
            <td>@PlainText.Dictionary["Out"]</td>
            <td colspan="2">@PlainText.Dictionary["TODO"]</td>
        </tr>

        @foreach (var move in Model.MoveList) { 
            
            <tr>
                <td>@move.Description </td>
                <td>@move.Category </td>
                <td>@move.Date.ToShortDateString() </td>

                <td class="numeric in">
                    @if (move.In == Model.Account)
                        {@move.Value.ToMoney()}
                    else
                        { @(" ") }
                </td>

                <td class="numeric out">
                    @if (move.Out == Model.Account)
                        {@move.Value.ToMoney()}
                    else
                        { @(" ") }
                </td>

                <td>@Html.ActionLink(PlainText.Dictionary["Edit"], "Edit", "Move", new { id = move.ID }, null)</td>

                <td>@Ajax.ActionLink(PlainText.Dictionary["Delete"], "Delete", "Move", new { id = move.ID }, 
                        new AjaxOptionsDFM {
                            Confirm = String.Format(PlainText.Dictionary["ConfirmDeleteMove"], move.Description),
                        })</td>
                
            </tr>

        } 

    </table>
}