@model DFM.MVC.Areas.Accounts.Models.ReportSeeMonthModel

@{
    ViewBag.Title = String.Format("{0}: {1}", Model.Account, Model.Date);
    Layout = "~/Views/Shared/Inner/_Layout.cshtml";
}

@section HtmlHeadJs {
    <script type='text/javascript'>
        var reportPage = '@Url.Action("SeeMonth", new { id = "" })';
    </script>
}

@section TopRightDiv {
    @Html.NumberNavFor(m => m.Month, TimeNavigation.Limits(1, 12))
    @Html.NumberNavFor(m => m.Year, TimeNavigation.Limits(1900, DateTime.Today.Year))
    <button type="button" id="NavGo">@PlainText.Dictionary["Go"]</button>
}



@if (!Model.MoveList.Any())
{ 
    <div class="ZeroItems">@PlainText.Dictionary["NoMonthMoves"]</div>
}
else
{    
    <table class="List">

        <tr>
            <th>@PlainText.Dictionary["Description"]</th>
            <th>@PlainText.Dictionary["Category"]</th>
            <th>@PlainText.Dictionary["Date"]</th>
            <th>@PlainText.Dictionary["In"]</th>
            <th>@PlainText.Dictionary["Out"]</th>
            <th colspan="2">@PlainText.Dictionary["TODO"]</th>
        </tr>

        @foreach (var move in Model.MoveList)
        { 
            
            <tr>
                <td>@move.Description </td>
                <td>@move.Category </td>
                <td>@move.Date.ToShortDateString() </td>

                <td class="numeric in">
                    @if (move.In != null && move.In.Year.Account == Model.Account)
                        {@move.Value().ToMoney()}
                    else
                        { @(" ") }
                </td>

                <td class="numeric out">
                    @if (move.Out != null && move.Out.Year.Account == Model.Account)
                        {@move.Value().ToMoney()}
                    else
                        { @(" ") }
                </td>

                <td>@Html.ActionLink(PlainText.Dictionary["Edit"], "Edit", "Move", new { id = move.ID }, null)</td>

                <td>@Ajax.ActionLink(PlainText.Dictionary["Delete"], "Delete", "Move", new { id = move.ID },
                        new AjaxOptionsDFM
                        {
                            Confirm = String.Format(PlainText.Dictionary["ConfirmDeleteMove"], move.Description),
                        })</td>
                
            </tr>

        } 

    </table>
}