@model DFM.MVC.Areas.Accounts.Models.ReportSeeMonthModel

@{
    ViewBag.Title = String.Format("{0}: {2} {1}", Model.Account, Model.Month, Model.Year);
    Layout = "~/Views/Shared/Inner/_Layout.cshtml";
}

@section HtmlHead { 
    <script src='@Url.Content("~/Assets/Script/Pages/ReportSeeMonth.js")' type='text/javascript'></script>
}

@if (Model.MoveList.Count == 0) { 
    
    @("There's no Moves for this Month.")
        
} else { 
        
    <table class="List">

        <tr>
            <td>Description</td>
            <td>Category</td>
            <td>Date</td>
            <td>In</td>
            <td>Out</td>
            <td colspan="2"></td>
        </tr>

        @foreach (var move in Model.MoveList) { 
            
            <tr>
                <td>@move.Description </td>
                <td>@move.Category </td>
                <td>@move.Date.ToShortDateString() </td>

                <td class="numeric in">
                    @if (move.In == Model.Account)
                        {@move.Value.ToString("#0.00")}
                    else
                        { @(" ") }
                </td>

                <td class="numeric out">
                    @if (move.Out == Model.Account)
                        {@move.Value.ToString("#0.00")}
                    else
                        { @(" ") }
                </td>

                <td>@Html.ActionLink("Edit", "Edit", "Move", new { id = move.ID }, null)</td>

                <td>@Ajax.ActionLink("Delete", "Delete", "Move", new { id = move.ID }, 
                        new AjaxOptions { 
                            Confirm = String.Format("Are you sure you want to delete Move '{0}'?", move.Description),
                            OnBegin = "BeginAjaxPost",
                            OnFailure = "AjaxFail",
                            OnSuccess = "TellResultAndReload",
                            HttpMethod = "Post",
                        })</td>
                
            </tr>

        } 

    </table>
}