@model DFM.MVC.Areas.Accounts.Models.ReportSeeYearModel

@{
    ViewBag.Title = String.Format("{0}: {1} Summary", Model.Year.Account, Model.Year.Time);
    Layout = "~/Views/Shared/Inner/_Layout.cshtml";
}

@if (!Model.Year.MonthList.Any()) { 
    
    <div class="ZeroItems">@PlainText.Dictionary["NoYearMoves"]</div>

} else { 
        
    <table class="List Mini">

        <tr>
            <th>@PlainText.Dictionary["Month"]</th>
            <th>@PlainText.Dictionary["Value"]</th>
        </tr>

        @foreach (var month in Model.Year.MonthList) {

            var sign = month.Value < 0 ? "out" : "in";
            var value = month.Value > 0 ? month.Value : -month.Value;
            
            <tr>
                <td>@PlainText.GetMonthName(month.Time) </td>
                <td class="numeric @sign">@value.ToMoney() </td>
            </tr>

        } 

    </table>
} 
