@model DFM.MVC.Areas.Accounts.Models.MoveAddDetailModel

<tr class="moveDetailItem" id="Detail_@(Model.Position)">
    @Html.HiddenFor(m => m.Move.DetailList[Model.Position].ID)

    <td>@Html.TextBoxFor(m => m.Move.DetailList[Model.Position].Description)</td>
    <td>@Html.TextBoxFor(m => m.Move.DetailList[Model.Position].Amount, new { @class = "number" })</td>
    <td>@Html.TextBoxFor(m => m.Move.DetailList[Model.Position].Value, new { @class = "money" })</td>

    @if (Model.Position > 0)
    {
        <td><button type="button" onclick="RemoveDetail(@(Model.Position))"> X </button></td>
    }
</tr>