@model DFM.MVC.Areas.Accounts.Models.MoveAddDetailModel

<tr class="moveDetailItem" id="Detail_@(Model.Position)">
    @Html.HiddenFor(m => m.Move.DetailList[Model.Position].ID)

    <td>@Html.TextBoxFor(m => m.Move.DetailList[Model.Position].Description, new { maxlength = MaximumLength.DetailDescription })</td>
    <td>@Html.TextBoxFor(m => m.Move.DetailList[Model.Position].Amount, new { @class = "amount" })</td>
    <td>@Html.TextBoxFor(m => m.Move.DetailList[Model.Position].Value, new { @class = "money" })</td>

    @if (Model.Position > 0)
    {
        <td><a href="#" onclick="RemoveDetail(@(Model.Position))"> X </a></td>
    }
</tr>