@model BaseSiteModel

@{
	var accountArea = Model as BaseAccountModel;
	var defaultRoute = new RouteDefault();
}

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			@if (ViewBag.HideTopLogo == null)
			{
				<a href="/" class="navbar-brand">Don't fly Money</a>
			}
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a role='button' data-toggle='modal' data-target='#contact-modal'>
						<span class="glyphicon glyphicon-comment"
							  title="@Context.Translate("Contact_Title")"></span>
					</a>
				</li>

				@if (!Model.IsAuthenticated)
				{
					<li>@Html.ActionLink(Context.Translate("Login"), "LogOn", "Users")</li>
					<li>@Html.ActionLink(Context.Translate("SignUp"), "SignUp", "Users")</li>
					<li>@Html.ActionLink(Context.Translate("TokenReceivedByEmail"), "Index", "Tokens")</li>
				}
				else
				{
					if (Model.IsExternal)
					{
						<li>@Html.ActionLink(Context.Translate("Enter"), "Index", "Accounts")</li>
					}
					else if (accountArea == null)
					{
						<li>@Html.ActionLink(Context.Translate("Accounts"), "Index", "Accounts")</li>

						if (Model.IsUsingCategories)
						{
							<li>@Html.ActionLink(Context.Translate("Categories"), "Index", "Categories")</li>
						}

						<li>@Html.ActionLink(Context.Translate("Schedules"), "Index", "Schedules")</li>
						<li>@Html.ActionLink(Context.Translate("Logins"), "Index", "Logins")</li>
					}
					else
					{
						if (accountArea.Account.IsOpen)
						{
							<li>@Html.ActionLink(Context.Translate("ToMove"), "Create", "Moves")</li>
							<li>@Html.ActionLink(Context.Translate("Schedule"), "Create", "Schedules")</li>
						}

						<li>@Html.ActionLink(Context.Translate("MonthMoves"), "ShowMoves", "Reports")</li>
						<li>@Html.ActionLink(Context.Translate("YearMoves"), "SummarizeMonths", "Reports")</li>

						<li>
							<a href="@Url.RouteUrl(defaultRoute.Name, new {action = "Index", controller = "Accounts", area = defaultRoute.Area})">
								<span class="glyphicon glyphicon-home" title="@Context.Translate("Home")"></span>
							</a>
						</li>
					}

					<li>
						@await Html.PartialAsync("MenuSettings")
					</li>

					<li>
						<a>
							@await Html.PartialAsync("MicroForm",
								MicroForm.WithGlyph(Context, "off", "Logoff")
									.AddRouteUrl<RouteDefault>("Users", "LogOff")
							)
						</a>
					</li>
				}
			</ul>
		</div>
	</div>
</nav>
