@model MicroForm

@{
	// it confuses closing brackets if it goes together the other statements
	var @class = Model.Class ?? "btn-clear";
}

@{
	String action = Url.RouteUrl(Model.RouteName, Model.RouteValues);
}

<form action="@action"
	method="post"
	data-ajax="@Model.Ajax.ToString().ToLower()"
	data-ajax-method="post"
	data-ajax-url="@action"
	data-ajax-update="#@Model.UpdateTargetId"
	data-ajax-mode="replace-with"
	data-ajax-success="checkIfReload">

	@Html.AntiForgeryToken()

	@foreach (var hidden in Model.HiddenList)
	{
		<input type="hidden" name="@hidden.Key" value="@hidden.Value" />
	}

	<button type="submit" class="@(@class)" title="@Model.Text">
		@if (Model.Glyphicon == null)
		{
			@Model.Text
		}
		else
		{
			<span class="glyphicon glyphicon-@Model.Glyphicon"></span>
		}
	</button>
</form>
