@model MicroForm

@{
	var @class = Model.Class ?? "btn-clear";
}

@using (
	Model.RouteName == null
		? Html.BeginForm(Model.RouteValues)
		: Html.BeginRouteForm(Model.RouteName, Model.RouteValues)
) {
	@Html.AntiForgeryToken()

	foreach (var hidden in Model.Hiddens)
	{
		<input type="hidden" name="@hidden.Key" value="@hidden.Value" />
	}

	<button type="submit" class="@(@class)" title="@Model.Text"
	        data-toggle="tooltip" data-placement="right"
	        data-original-title="@Model.Text">

		@if (Model.Glyphicon == null)
		{
			@Model.Text
		}
		else
		{
			<span class="glyphicon glyphicon-@Model.Glyphicon"></span>
		}

	</button>
}
