<div class="text-center">
	<input type="checkbox"
			name="evaluate-password"
			id="evaluate-password"
			value="1"
			onchange="toggleZxcvbn(this)"/>

	<label for="evaluate-password"
			class="control-label"
			alt="@Context.Translate("EvaluatePasswordThirdPart")"
			title="@Context.Translate("EvaluatePasswordThirdPart")">
		@Context.Translate("EvaluatePassword")
	</label>
	<span class="glyphicon glyphicon-info-sign"
			alt="@Context.Translate("EvaluatePasswordThirdPart")"
			title="@Context.Translate("EvaluatePasswordThirdPart")">
	</span>
</div>

<script type="text/javascript">
	const scoreLabelOff = '@Context.Translate("PasswordScoreOff")'
	const scoreLabelOn = '@Context.Translate("PasswordScoreOn")'
	const scoreLabels = [
		'@Context.Translate("PasswordScore0")',
		'@Context.Translate("PasswordScore1")',
		'@Context.Translate("PasswordScore2")',
		'@Context.Translate("PasswordScore3")',
		'@Context.Translate("PasswordScore4")',
	]
</script>
<script type="text/javascript" src="/Assets/scripts/password-evaluator.js"></script>
