@Translator.Dictionary["003000000000_Item_0"]

<ol>
	<li>
		@Translator.Dictionary["003000000000_Item_1"]
		<ol>
			<li>@Translator.Dictionary["003000000000_Item_1_1"]</li>
			<li>@Translator.Dictionary["003000000000_Item_1_2"]</li>
			<li>@Translator.Dictionary["003000000000_Item_1_3"]</li>
		</ol>
	</li>
	<li>@Translator.Dictionary["003000000000_Item_2"]</li>
	<li>
		@Translator.Dictionary["003000000000_Item_3"]
		<ol>
			<li>
				@Html.Raw(String.Format(
					Translator.Dictionary["003000000000_Item_3_1"],
					"no-reply@dontflymoney.com",
					"<a target='_blank' href='mailto:dfm@dontflymoney.com'>dfm@dontflymoney.com</a>"
				))
			</li>
			<li>
				@Html.Raw(String.Format(
					Translator.Dictionary["003000000000_Item_3_2"],
					"<a href='https://dontflymoney.com'>dontflymoney.com</a>"
				))
			</li>
			<li>
				@Html.Raw(String.Format(
					Translator.Dictionary["003000000000_Item_3_3"],
					"<a target='_blank' href='http://play.google.com/store/apps/details?id=com.dontflymoney.view'>Don't fly Money</a>"
				))
			</li>
		</ol>
	</li>
	<li>
		@Translator.Dictionary["003000000000_Item_4"]
	</li>
	<li>
		@Translator.Dictionary["003000000000_Item_5"]
	</li>
	<li>
		@Translator.Dictionary["003000000000_Item_6"]
		<ol>
			<li>
				@Translator.Dictionary["003000000000_Item_6_1"]
			</li>
			<li>
				@Translator.Dictionary["003000000000_Item_6_2"]
			</li>
			<li>
				@Translator.Dictionary["003000000000_Item_6_3"]
			</li>
		</ol>
	</li>
</ol>
