@model MicroForm

@{
	var classes = Model.Class ?? "btn-clear";
	if (Model.Class != null && Model.Glyphicon != null)
	{
		classes += " btn-glyph";
	}

	var action = Url.RouteUrl(Model.RouteName, Model.RouteValues);
}

@* tag <a> put here to simulate same color used for links *@
<a>
	<form action="@action"
		method="post"
		data-ajax="@Model.Ajax.ToString().ToLower()"
		data-ajax-method="post"
		data-ajax-url="@action"
		data-ajax-update="#@Model.UpdateTargetId"
		data-ajax-reset-id="#@Model.ResetTargetId"
		data-ajax-reset-text="@Model.ResetText"
		data-ajax-mode="replace-with"
		data-ajax-success="microFormSuccess">

		@Html.AntiForgeryToken()

		@foreach (var hidden in Model.HiddenList)
		{
			<input type="hidden" name="@hidden.Key" value="@hidden.Value" />
		}

		<button type="submit" class="@classes" title="@Model.Text" role='button'>
			@if (Model.Glyphicon == null)
			{
				@Model.Text
			}
			else
			{
				<span class="glyphicon glyphicon-@Model.Glyphicon"></span>
			}
		</button>
	</form>
</a>
