@model DFM.Generic.Pages.Pages

<ul class="pagination">

	<li class="@(Model.HasMoreBack ? null : "disabled")">
		@Html.ActionLink("«", null, new { id = Model.MoreBack.Url })
	</li>

	@foreach (var page in Model.List)
	{
		String label = page.Label;

		<li class="@(page.Same(Model.Current) ? "active" : null)">
			@Html.ActionLink(label, null, new { id = page.Url })
		</li>
	}

	<li class="@(Model.HasMoreForward ? null : "disabled")">
		@Html.ActionLink("»", null, new { id = Model.MoreForward.Url })
	</li>
</ul>
