@model SchedulesCreateModel

@Html.HiddenFor(m => m.Frequency)

<div class="row">
	<div class="btn-group-vertical btn-group-sm col-sm-12">
		@foreach (ScheduleFrequency frequency in Enum.GetValues(typeof(ScheduleFrequency)))
		{
			<button type="button"
					class="btn btn-sm btn-warning col-sm-4 button-toggle value-setter
								@(Model.Frequency == frequency ? "active" : null)"
					data-target-id="@Html.IdFor(m => m.Frequency)"
					data-target-value="@frequency">

				@Context.Translate(frequency.ToString())
			</button>
		}
	</div>
</div>
