@model ArchivesIndexModel

@{
	Layout = "~/Views/Shared/Layouts/_Table.cshtml";

	var hasArchives = Model.ArchiveList.Any();

	ViewBag.Title = Context.Translate("Archives");

	ViewBag.HasContent = hasArchives;
	ViewBag.NoContentText = Context.Translate("NoArchives");
	ViewBag.NoContentClass = "";//hl["NoContent"];

	var hl = new WizardHL(hasArchives)
		.AddBox("WizardButton", null, null)
		.AddBox("StopButton", null, null)
		.AddBox("TitleClass", null, null)
		.AddBox("NoContent", null, null)
		.AddBox("CreateButton", null, null)
		.AddBox("Row", null, null)
		.AddBox("Edit", null, null)
		.AddBox("DeleteButton", null, null)
		.AddBox("CloseButton", null, null)
		.AddBox("Name", null, null)
		.AddBox("Reports", null, null)
		.AddBox("AdminMenu", null, null)
		.AddBox("SchedulesMenu", null, null)
		.AddBox("Sign", null, null)
		.AddBox("SignSome", null, null)
		.AddBox("SettingsMenu", null, null)
		.AddBox("SettingsMainMenu", null, null)
		;

	ViewBag.TitleClass = hl["TitleClass"];
	ViewBag.AdminMenuClass = hl["AdminMenu"];
	ViewBag.SchedulesMenuClass = hl["SchedulesMenu"];

	var buttons = new List<Button>
	{
		new(
			Context.Translate("Upload", "Archive"),
			"Upload", hl["CreateButton"]
		)
	};

	ViewBag.Buttons = buttons;
}

@section TableHeader
{
	<tr class="row">
		<th class="col-sm-1">@Context.Translate("Name")</th>
		<th class="col-sm-2 text-center">@Context.Translate("Status")</th>
		<th class="col-sm-3 text-center">@Context.Translate("TODO")</th>
	</tr>
}

@foreach (var archive in Model.ArchiveList)
{
	<tr class="row @hl["Row"]">
		<td class="col-sm-1 @hl["Filename"]">
			@archive.Filename
		</td>

		<td class="col-sm-2 text-right">
			<span class="pull-left @hl["Status"]">
				@await Html.PartialAsync("ImportStatus", archive.Status)
			</span>
		</td>

		<td class="col-sm-1 text-center @hl["Reports"]">
			<a href="@Url.Action("Lines", new { id = archive.Guid })">
				<span class="glyphicon glyphicon-th-list"
					title="@Context.Translate("ArchiveLines").Format(archive.Filename)"></span>
			</a>
		</td>
	</tr>
}
