@using DFM.Entities.Enums
@model SchedulesCreateModel

<hr/>

@Html.HiddenFor(m => m.Frequency)

<div class="row">

	<div class="btn-group btn-group-sm btn-group-vertical col-sm-4">
		@foreach (ScheduleFrequency frequency in Enum.GetValues(typeof(ScheduleFrequency)))
		{
			<button type="button"
					class="btn btn-sm btn-warning col-sm-4 button-toggle value-setter
							@(Model.Frequency == frequency ? "active" : "")"
					data-target-id="@Html.IdFor(m => m.Frequency)"
					data-target-value="@frequency">

				@MultiLanguage.Dictionary[frequency.ToString()]
			</button>
		}
	</div>

	<div class="col-sm-4">
		<div class="form-group checkbox">
			<label for="@Html.IdFor(m => m.Boundless)">
				@Html.CheckBoxFor(m => m.Boundless, new {@class = "check-toggle", data_to_disable = ".boundless-disable"})
				@MultiLanguage.Dictionary["Boundless"]
			</label>
		</div>

		<div class="form-group form-group-sm">
			<div class="input-group input-group-sm">
				@Html.TextBoxFor(m => m.Times, new {@class = "form-control boundless-disable"})
				<span class="input-group-addon">
					@MultiLanguage.Dictionary["Times"]
				</span>
			</div>
		</div>
	</div>

	<div class="col-sm-4 form-group checkbox">
		<label for="@Html.IdFor(m => m.ShowInstallment)">
			@Html.CheckBoxFor(m => m.ShowInstallment)
			@MultiLanguage.Dictionary["ShowInstallment"]
		</label>
	</div>

</div>