@using DFM.MVC.Helpers
@model SchedulesIndexModel

@{
	ViewBag.Title = Translator.Dictionary["Schedules"];

	ViewBag.WizardMessage =
		Model.ScheduleList.Any()
			? Wizard.SchedulesIndexFilled
			: Wizard.SchedulesIndexEmpty;

	Layout = "~/Views/Shared/_Table.cshtml";

	ViewBag.HasContent = Model.ScheduleList.Any();
	ViewBag.NoContentText = Translator.Dictionary["NoSchedules"];

	var useCategories = Service.Current.User.Config.UseCategories;
	var descriptionSize = useCategories ? 2 : 4;
}

@section TableHeader {
	<tr class="row">
		<th class="col-sm-@descriptionSize">
			@Translator.Dictionary["Description"]
		</th>

		@if (useCategories)
		{
			<th class="col-sm-2 text-center">
				@Translator.Dictionary["Category"]
			</th>
		}

		<th class="col-sm-2 text-center">@Translator.Dictionary["Date"]</th>
		<th class="col-sm-2 text-center">@Translator.Dictionary["Account", "In"]</th>
		<th class="col-sm-2 text-center">@Translator.Dictionary["Account", "Out"]</th>
		<th class="col-sm-1 text-center">@Translator.Dictionary["Value"]</th>
		<th class="col-sm-1 text-center">@Translator.Dictionary["TODO"]</th>
	</tr>
}

@foreach (var schedule in Model.ScheduleList)
{
	<tr class="row">
		<td class="col-sm-@descriptionSize">@schedule.Description</td>

		@if (useCategories)
		{
			<td class="col-sm-2 text-center">@(schedule.Category?.Name ?? "---")</td>
		}

		<td class="col-sm-2 text-center">@schedule.Date.ToShortDateString()</td>
		<td class="col-sm-2 text-center">@(schedule.In?.Name ?? " ")</td>
		<td class="col-sm-2 text-center">@(schedule.Out?.Name ?? " ")</td>

		<td  class="col-sm-1 text-@Html.Partial("NatureColor", schedule.Nature) text-right">
			<span
				class="@Html.Partial("NatureIcon", schedule.Nature)"
				title="@Translator.Dictionary[schedule.Nature.ToString()]"
			></span>
			@schedule.Total().ToMoney(Model.Language)
		</td>

		<td class="col-sm-1 text-center">
			@Html.Partial("MicroForm",
				MicroForm.WithGlyph("trash", "Delete")
					.AddIdUrl("Delete", schedule.ID)
			)
		</td>
	</tr>
}
