@using DFM.Language.Extensions
@model SchedulesIndexModel

@{
	ViewBag.Title = Context.Translate("Schedules");

	Layout = "~/Views/Shared/Layouts/_Table.cshtml";

	ViewBag.HasContent = Model.ScheduleList.Any();
	ViewBag.NoContentText = Context.Translate("NoSchedules");

	var useCategories = Context.GetService().Current.UseCategories;
	var descriptionSize = useCategories ? 2 : 3;

	/* ADD WARNING TO SCHEDULES THAT WON'T RUN BECAUSE OF CATEGORY-USE PROBLEM */
}

@await Html.PartialAsync("Modals/ScheduleRobotInterval")

@section TableHeader {
	<tr class="row">
		<th class="col-sm-@descriptionSize">
			@Context.Translate("Description")
		</th>

		<th class="col-sm-2 text-center">@Context.Translate("Account")</th>

		@if (useCategories)
		{
			<th class="col-sm-1 text-center">
				@Context.Translate("Category")
			</th>
		}

		<th class="col-sm-1 text-center">@Context.Translate("Date")</th>
		<th class="col-sm-1 text-center">@Context.Translate("Frequency")</th>
		<th class="col-sm-1 text-center">@Context.Translate("Times")</th>
		<th class="col-sm-1 text-center">@Context.Translate("Run")</th>
		<th class="col-sm-1 text-center">@Context.Translate("Deleted")</th>
		<th class="col-sm-1 text-center">@Context.Translate("Value")</th>
		<th class="col-sm-1 text-center">@Context.Translate("TODO")</th>
	</tr>
}

@foreach (var schedule in Model.ScheduleList)
{
	var @in = schedule.InName;
	var @out = schedule.OutName;

	<tr class="row wizard-highlight-0">
		<td>
			@schedule.Description
		</td>

		<td class="text-center">
			@(@out)
			@if (@in != null && @out != null) {@(" > ")}
			@(@in)
		</td>

		@if (useCategories)
		{
			<td class="text-center">
				@(schedule.CategoryName ?? "---")
			</td>
		}

		<td class="text-center">
			@schedule.GetDate().ToShortDateString()
		</td>

		<td class="text-center">
			@Context.Translate(schedule.Frequency.ToString())
		</td>

		<td class="text-center wizard-highlight-1">
			@(schedule.Boundless ? "" : $"{schedule.Times}x")
		</td>

		<td class="text-center wizard-highlight-2">
			@schedule.Run
		</td>

		<td class="text-center wizard-highlight-2">
			@schedule.Deleted
		</td>

		<td class="
			text-@await Html.PartialAsync("Extensions/NatureColor", schedule.Nature)
			text-right
		">
			<span
				class="@await Html.PartialAsync("Extensions/NatureIcon", schedule.Nature)"
				title="@Context.Translate(schedule.Nature.ToString())"
			></span>
			@schedule.Value.ToMoney(Model.Language)
		</td>

		<td class="text-center wizard-highlight-3">
			@await Html.PartialAsync("Extensions/MicroForm",
				MicroForm.WithGlyph(Context, "trash", "Delete")
					.AddIdUrl("Delete", schedule.Guid)
					.EntityName(schedule.Description)
			)
		</td>
	</tr>
}
