@model DFM.MVC.Models.AccountCreateEditModel

@{
    ViewBag.Title = MultiLanguage.Dictionary[Model.ActionName, "Account"];
    
    if (Model.Type == DFM.Generic.OperationType.Edit)
    {
        ViewBag.Title += " " + Model.Name;
    }
    
    Layout = "~/Views/Shared/Inner/_Layout.cshtml";
}

@section HtmlFooterJs { 
    <script src="/Assets/Script/Pages/AccountCreateEdit.js" type="text/javascript"></script>
}

<div class="HalfScreen">
    @using (Html.BeginForm()) {

        @Html.ValidationSummary(true)

        <p>
            @Html.LabelFor(m => m.Name, MultiLanguage.Dictionary["Name"])
            @Html.TextBoxFor(m => m.Name, new { maxlength = MaximumLength.AccountName, @class = "suggest-name" })

            <span class='input-ps'>@String.Format(MultiLanguage.Dictionary["CharactersMax"], MaximumLength.AccountName)</span>
        </p>

        <p>
            @Html.LabelFor(m => m.Account.Url, MultiLanguage.Dictionary["Url"])
            @Html.TextBoxFor(m => m.Account.Url, new { maxlength = MaximumLength.AccountUrl, @class = "suggest-url" })

            <span class='input-ps'>@String.Format(MultiLanguage.Dictionary["CharactersMax"], MaximumLength.AccountUrl)</span>
            <span class='input-ps'>@String.Format(MultiLanguage.Dictionary["AcceptedUrlCharacters"], MaximumLength.AccountUrl)</span>
        </p>

        <p class="radio">
            @Html.CheckBoxFor(m => m.HasLimit)
            @Html.LabelFor(m => m.HasLimit, MultiLanguage.Dictionary["AccountHasLimit"])
        </p>
        
        <p>
            @Html.LabelFor(m => m.Account.RedLimit, MultiLanguage.Dictionary["RedLimit"] + " #")
            @Html.TextBoxFor(m => m.Account.RedLimit, new { @class = "money letZero" })
        </p>

        <p>
            @Html.LabelFor(m => m.Account.YellowLimit, MultiLanguage.Dictionary["YellowLimit"] + " #")
            @Html.TextBoxFor(m => m.Account.YellowLimit, new { @class = "money letZero" })
        </p>

        <p>
            <button type="submit">@MultiLanguage.Dictionary[Model.ActionName]!</button>
        </p>

    }
</div>

@section PS {
    # @MultiLanguage.Dictionary["RedLimit"] / @MultiLanguage.Dictionary["YellowLimit"]: @MultiLanguage.Dictionary["LimitExplanation"]
}
