@model AccountsCreateEditModel

@using DFM.Generic

@{
	ViewBag.Title = MultiLanguage.Dictionary[Model.ActionName, "Account"];
	
	if (Model.Type == OperationType.Edit)
	{
		ViewBag.Title += " [" + Model.Account.Name + "]";
	}
	
	Layout = "~/Views/Shared/_Form.cshtml";
}

@section Scripts {
	<script src="/Assets/Scripts/suggest.js" type="text/javascript"></script>
	<script src="/Assets/Scripts/toggle.js" type="text/javascript"></script>
}

<div class="form-group">
	@Html.LabelFor(m => m.Account.Name, MultiLanguage.Dictionary["Name"], new { @class = "control-label" })
	@Html.TextBoxFor(m => m.Account.Name, new { maxlength = MaximumLength.ACCOUNT_NAME, @class = "form-control suggest-field", data_target = ".suggest-target" })
	<small>@String.Format(MultiLanguage.Dictionary["CharactersMax"], MaximumLength.ACCOUNT_NAME)</small>
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Url, MultiLanguage.Dictionary["Url"], new { @class = "control-label" })
	<span class="glyphicon glyphicon-question-sign control-label" 
		  data-toggle="tooltip" data-placement="right" 
		  data-original-title="@String.Format(MultiLanguage.Dictionary["AcceptedUrlCharacters"], MaximumLength.ACCOUNT_URL)">
	</span>

	@Html.TextBoxFor(m => m.Url, new { maxlength = MaximumLength.ACCOUNT_URL, @class = "form-control suggest-target" })
	<small class="control-label">@String.Format(MultiLanguage.Dictionary["CharactersMax"], MaximumLength.ACCOUNT_URL)</small>
</div>

<div class="form-group text-center">
	@Html.CheckBoxFor(m => m.HasLimit, new { @class = "check-toggle", data_to_enable = ".limit" })
	@Html.LabelFor(m => m.HasLimit, MultiLanguage.Dictionary["AccountHasLimit"], new { @class = "control-label" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Account.YellowLimit, MultiLanguage.Dictionary["YellowLimit"], new { @class = "control-label" })
	<span class="glyphicon glyphicon-tags text-warning"
		  data-toggle="tooltip" data-placement="right"
		  data-original-title="@MultiLanguage.Dictionary["LimitExplanation"]">
	</span>
	@Html.TextBoxFor(m => m.Account.YellowLimit, new { @class = "form-control limit number", data_allow_negative = 1, data_allow_zero = 1 })
</div>
		
<div class="form-group">
	@Html.LabelFor(m => m.Account.RedLimit, MultiLanguage.Dictionary["RedLimit"], new { @class = "control-label" })
	<span class="glyphicon glyphicon-tags text-danger"
		  data-toggle="tooltip" data-placement="right"
		  data-original-title="@MultiLanguage.Dictionary["LimitExplanation"]">
	</span>
	@Html.TextBoxFor(m => m.Account.RedLimit, new { @class = "form-control limit number", data_allow_negative = 1, data_allow_zero = 1 })
</div>

@section Footer {
	<button class="btn btn-success" type="submit">
		@MultiLanguage.Dictionary[Model.ActionName]
	</button>		
}
