@model AccountsIndexModel

@using DFM.MVC.Helpers

@{
	ViewBag.Title = MultiLanguage.Dictionary["Accounts"];
	Layout = "~/Views/Shared/_Table.cshtml";

	ViewBag.HasContent = Model.AccountList.Any();
	ViewBag.NoContentText = MultiLanguage.Dictionary["NoAccounts"];
	ViewBag.Buttons = new List<Button>
	{
		new Button(MultiLanguage.Dictionary["ClosedAccounts"], "ListClosed", true),
		new Button(MultiLanguage.Dictionary["Create", "Account"], "Create")
	};
}

@section TableHeader
{
	<tr class="row">
		<th class="col-sm-6">@MultiLanguage.Dictionary["Name"]</th>
		<th class="col-sm-4 text-center" colspan="3">@MultiLanguage.Dictionary["Total"]</th>
		<th class="col-sm-2 text-center" colspan="2">@MultiLanguage.Dictionary["TODO"]</th>
	</tr>
}

@foreach (var account in Model.AccountList)
{
	var movesSum = account.Total();
	var value = (movesSum < 0 ? -movesSum : movesSum).ToMoney(Model.Language);
	var className = movesSum < 0 ? "danger" : "info";
	var sign = MultiLanguage.Dictionary[$"{account.Sign()}Limit"];

	<tr class="row">
		<td class="col-sm-6">
			@Html.RouteLink(account.Name, RouteNames.ACCOUNT, new { accounturl = account.Url, controller = String.Empty })
		</td>

		<td class="col-sm-1"></td>
		<td class="col-sm-2 text-right">
			<span class="@Html.Partial("AccountSign", account.Sign()) pull-left"
				  data-toggle="tooltip" data-placement="bottom" title="@sign"
				  data-original-title="@sign" />
			<span class="text-@className">@value</span>
		</td>
		<td class="col-sm-1"></td>

		<td class="col-sm-1 text-center">
			<a href="@Url.Action("Edit", "Accounts", new {id = account.Url})">
				<span class="glyphicon glyphicon-edit"></span>
			</a>
		</td>

		<td class="col-sm-1 text-center">
			@if (account.HasMoves())
			{
				<a href="@Url.Action("Close", new {id = account.Url})"
				   class="withConfirm" confirm="@String.Format(MultiLanguage.Dictionary["CloseConfirm"], account.Name)">
					<span class="glyphicon glyphicon-eye-close"></span>
				</a>
			}
			else
			{
				<a href="@Url.Action("Delete", new {id = account.Url})"
				   class="withConfirm" confirm="@String.Format(MultiLanguage.Dictionary["DeleteConfirm"], account.Name)">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			}
		</td>
	</tr>
}
