@model AccountIndexModel

@{
    ViewBag.Title = MultiLanguage.Dictionary["ClosedAccounts"];
    Layout = "~/Views/Shared/_NoAreaLayout.cshtml";
}

@if (!Model.AccountList.Any())
{ 
    <div class="ZeroItems">@MultiLanguage.Dictionary["NoClosedAccounts"]</div>
}
else
{ 
        
    <table class="List">

        <tr>
            <th>@MultiLanguage.Dictionary["Name"]</th>
            <th>@MultiLanguage.Dictionary["BeginDate"]</th>
            <th>@MultiLanguage.Dictionary["EndDate"]</th>
            <th colspan="2">@MultiLanguage.Dictionary["Total"]</th>
            <!--th class="todo-column">@MultiLanguage.Dictionary["TODO"]</th-->
        </tr>

        @foreach (var account in Model.AccountList)
        {
            var endMonth = account.EndDate.Value.Month;
            var endYear = account.EndDate.Value.Year;
            var monthReportId = endYear * 100 + endMonth;

            
            var movesSum = account.Total();
            var negative = movesSum.IsNegative();
            var value = (negative ? -movesSum : movesSum).ToMoney(Model.Language);

            var sign = account.Sign();

            //var reopenLabel = MultiLanguage.Dictionary["Reopen", "Account"];
            //var reopenUrl = Url.Action("Reopen", new { id = account.Name });
                        
            <tr>
                <td>
                    @Html.RouteLink(account.Name, RouteNames.Account, new { accounturl = account.Url, controller = "Reports", action = "ShowMoves", id = monthReportId })
                </td>

                <td>@account.BeginDate.ToShortDateString()</td>
                <td>@account.EndDate.Value.ToShortDateString()</td>

                <td class="numeric @(negative ? "out" : "in")">@value</td>
                <td class="account_sign">@if (sign != null) { <img src="/Assets/image/icons/@(sign)_sign.gif" alt="@sign" /> } </td>
                @*
                <td class="image">
                    <a href="@reopenUrl">
                        <img src="/Assets/image/icons/reopen.gif" alt="@reopenLabel" title="@reopenLabel" />
                    </a>
                </td>
                *@
            </tr>

        } 

    </table>
} 
