@model ReportsSummarizeMonthsModel

@using DFM.Generic.Pages
@using DFM.MVC.Helpers
@using DFM.MVC.Models

@{
	ViewBag.Title = Model.Date;
	ViewBag.WizardMessage = Translator.Dictionary["SummarizeMonths"];
	Layout = "~/Views/Shared/_Table.cshtml";

	ViewBag.HasContent = Model.Year.MonthList.Any();
	ViewBag.NoContentText = Translator.Dictionary["NoYearMoves"];
	ViewBag.TableLgSize = 6;
	ViewBag.TableSmSize = 8;

	var beginDate = new YearUnit(Model.Account.BeginDate);
	var endDate = new YearUnit(Model.Account.EndDate ?? Service.Current.User.Now());
	var current = new YearUnit(Model.Year.Time);

	var pages = new Pages<YearUnit>(beginDate, endDate, current, 5);
}

@section TableHeader{
	<tr class="row">
		<th class="col-sm-3 text-center">@Translator.Dictionary["Month"]</th>
		<th class="col-sm-3 text-center">@Translator.Dictionary["In"]</th>
		<th class="col-sm-3 text-center">@Translator.Dictionary["Out"]</th>
		<th class="col-sm-3 text-center">@Translator.Dictionary["Total"]</th>
	</tr>
}

@foreach (var month in Model.Year.MonthList.OrderBy(m => m.Time))
{
	var _in = month.In();
	var _out = month.Out();

	if (_in == 0 && _out == 0)
	{
		continue;
	}

	<tr class="row">
		<td class="col-sm-3">
			<a href="@Url.Action("ShowMoves", new {id = month.Url()})">
				@Translator.GetMonthName(month.Time)
			</a>
		</td>
		<td class="col-sm-3 text-right">
			@Html.Partial("ValueWithSign", new ValueWithSign(_in, Model.Language, true))
		</td>
		<td class="col-sm-3 text-right">
			@Html.Partial("ValueWithSign", new ValueWithSign(-_out, Model.Language, true))
		</td>
		<td class="col-sm-3 text-right">
			@Html.Partial("ValueWithSign", new ValueWithSign(month.Total(), Model.Language))
		</td>
	</tr>

}

@section Footer {
	<div class="row">
		<div class="col-lg-2 col-sm-2"></div>

		<div class="col-lg-8 col-sm-8 text-center">
			@Html.Partial("Pagination", pages)
		</div>

		<div class="col-lg-2 col-sm-2">
			@Html.Partial("Total")
		</div>
	</div>
}
