@model AccountsIndexModel

@using DFM.MVC.Helpers

@{
	ViewBag.Title = Translator.Dictionary["Accounts"];

	ViewBag.WizardMessage =
		Model.AccountList.Any()
			? Translator.Dictionary["AccountsIndexFilled"]
			: Translator.Dictionary["AccountsIndexEmpty"];

	Layout = "~/Views/Shared/_Table.cshtml";

	ViewBag.HasContent = Model.AccountList.Any();
	ViewBag.NoContentText = Translator.Dictionary["NoAccounts"];
	ViewBag.Buttons = new List<Button>
	{
		new Button(Translator.Dictionary["ClosedAccounts"], "ListClosed", true),
		new Button(Translator.Dictionary["Create", "Account"], "Create")
	};
}

@section TableHeader
{
	<tr class="row">
		<th class="col-sm-6">@Translator.Dictionary["Name"]</th>
		<th class="col-sm-4 text-center" colspan="3">@Translator.Dictionary["Total"]</th>
		<th class="col-sm-2 text-center" colspan="2">@Translator.Dictionary["TODO"]</th>
	</tr>
}

@foreach (var account in Model.AccountList)
{
	var sign = Translator.Dictionary[$"{account.Sign}Limit"];

	<tr class="row">
		<td class="col-sm-6">
			@Html.RouteLink(account.Name, RouteNames.Account, new { accountUrl = account.Url, controller = String.Empty })
		</td>

		<td class="col-sm-1"></td>
		<td class="col-sm-2 text-right">
			<span
				class="@Html.Partial("AccountSign", account.Sign) pull-left"
				data-toggle="tooltip" data-placement="bottom" title="@sign"
				data-original-title="@sign"
			></span>

			@Html.Partial("ValueWithSign",
				new ValueWithSign(account.Total, Model.Language))
		</td>
		<td class="col-sm-1"></td>

		<td class="col-sm-1 text-center">
			<a href="@Url.Action("Edit", "Accounts", new {id = account.Url})">
				<span
					class="glyphicon glyphicon-edit"
					title="@Translator.Dictionary["Edit"]"
				></span>
			</a>
		</td>

		<td class="col-sm-1 text-center">
			@if (account.HasMoves)
			{
				@Html.Partial("MicroForm",
					MicroForm.WithGlyph("eye-close", "Close")
						.AddIdUrl("Close", account.Url)
				)
			}
			else
			{
				@Html.Partial("MicroForm",
					MicroForm.WithGlyph("trash", "Delete")
						.AddIdUrl("Delete", account.Url)
				)
			}
		</td>
	</tr>
}
