@using DFM.Generic.Datetime
@model AccountsIndexModel

@{
	ViewBag.Title = Context.Translate("ClosedAccounts");
	Layout = "~/Views/Shared/Layouts/_Table.cshtml";

	var anyClosedAccount = Model.AccountList.Any();

	ViewBag.HasContent = anyClosedAccount;
	ViewBag.NoContentText = Context.Translate("NoClosedAccounts");

	var route = new Accounts();

	var hl = new WizardHL(anyClosedAccount)
		.AddBox("Reports", 2, null)
		.AddBox("Reopen", 3, null)
		.AddBox("Accounts", 4, 3)
		;

	ViewBag.AccountsMenuClass = hl["Accounts"];
}

@section TableHeader {
	<tr class="row">
		<th class="col-sm-2">@Context.Translate("Name")</th>
		<th class="col-sm-2 text-center">@Context.Translate("BeginDate")</th>
		<th class="col-sm-2 text-center">@Context.Translate("EndDate")</th>
		<th class="col-sm-4 text-center" colspan="3">@Context.Translate("Total")</th>
		<th class="col-sm-2 text-center" colspan="2">@Context.Translate("TODO")</th>
	</tr>
}

@foreach (var account in Model.AccountList)
{
	var name = account.Name;

	var reports = new
	{
		area = route.Area,
		accountUrl = account.Url,
		controller = "Reports",
		action = "Month",
		id = account.End.ToMonthYear()
	};

	<tr class="row">

		<td class="col-sm-2">
			@Html.RouteLink(name, route.Name, reports,
				new { title = Context.Translate("AccountMoves").Format(name) }
			)
		</td>

		<td class="col-sm-2 text-center">
			@account.Start.ToShortDateString()
		</td>
		<td class="col-sm-2 text-center">
			@account.End.ToShortDateString()
		</td>

		<td class="col-sm-1"></td>
		<td class="col-sm-2 text-right">
			@if (Model.IsUsingAccountsSigns)
			{
				<span class="pull-left">
					@await Html.PartialAsync("AccountSign", account.Sign)
				</span>
			}

			@await Html.PartialAsync(
				"Extensions/ValueWithSign",
				new ValueWithSign(account.Total, Model.Language)
			)
		</td>
		<td class="col-sm-1"></td>

		<td class="col-sm-1 text-center @hl["Reports"]">
			<a href="@Url.RouteUrl(route.Name, reports)">
				<span class="glyphicon glyphicon-th-list"
				      title="@Context.Translate("AccountMoves").Format(name)"></span>
			</a>
		</td>

		<td class="col-sm-1 text-center @hl["Reopen"]">
			@await Html.PartialAsync("Extensions/MicroForm",
				MicroForm.WithGlyph(Context, "eye-open", "Reopen")
					.AddIdUrl("Reopen", account.Url)
			)
		</td>
	</tr>
}
