@model LoginsIndexModel

@{
	ViewBag.Title = Context.Translate("Logins");
	Layout = "~/Views/Shared/Layouts/_Table.cshtml";

	var anyLogin = Model.LoginsList.Any();

	ViewBag.HasContent = anyLogin;
	ViewBag.NoContentText = Context.Translate("NoLogins");
	ViewBag.TableLgSize = 8;

	var hl = new WizardHL(anyLogin)
		.AddBox("ChatMenu", null, 1)
		.AddBox("Delete", 3, null)
		.AddBox("Current", 6, null)
		.AddBox("SearchMenu", 7, null);

	ViewBag.ContactMenuClass = hl["ChatMenu"];
	ViewBag.SearchMenuClass = hl["SearchMenu"];
}

@section TableHeader {
	<tr class="row">
		<th class="col-sm-4">@Context.Translate("Creation")</th>
		<th class="col-sm-4 text-center">@Context.Translate("Type")</th>
		<th class="col-sm-4 text-center">@Context.Translate("TODO")</th>
	</tr>
}

@foreach (var login in Model.LoginsList)
{
	var date = login.Creation;
	
	var type = login.Current
		? "Current"
		: login.Type.ToString();

	var label = Context.Translate("LogOffLabel").Format(type, date);

	var hlRow = login.Current ? hl["Current"] : null;

	<tr class="row @hlRow">
		<td class="col-sm-4">@date</td>

		<td class="col-sm-4 text-center">
			<span class="label label-@await Html.PartialAsync("LoginType", login)">
				@Context.Translate(type)
			</span>
		</td>

		@*{
			var deleteConfirm =
				String.Format(
					Context.Translate("ConfirmDeleteLogin"),
						login.Creation,
						Context.Translate(login.Type.ToString())
				);
		}*@

		<td class="col-sm-4 text-center @hl["Delete"]">
			@await Html.PartialAsync("Extensions/MicroForm",
				MicroForm.WithGlyph(Context, "off", "LogOff")
					.AddIdUrl("Delete", login.Key)
					.EntityName(label)
			)
		</td>
	</tr>
} 
