@model CategoriesCreateEditModel

@using DFM.Entities.Enums

@{
	ViewBag.Title = Translator.Dictionary[Model.ActionName, "Category"];

	if (Model.Type == OperationType.Edition)
	{
		ViewBag.Title += $" [{Model.Category.OriginalName}]";
	}

	Layout = "~/Views/Shared/_Form.cshtml";
}

@Html.HiddenFor(m => m.Category.OriginalName)

<div class="form-group">
	@Html.LabelFor(m => m.Category.Name, Translator.Dictionary["Category"], new { @class = "control-label" })
	@Html.TextBoxFor(m => m.Category.Name, new { maxlength = MaxLen.Category_Name, @class = "form-control" })
	<small>@String.Format(Translator.Dictionary["CharactersMax"], MaxLen.Category_Name)</small>
</div>

@section Footer {
	<button type="submit" class="btn btn-success">
		@Translator.Dictionary[Model.ActionName]
	</button>
}
