@using DFM.MVC.Helpers
@model CategoriesIndexModel

@{
	ViewBag.Title = Translator.Dictionary["Categories"];
	ViewBag.WizardMessage = Wizard.Categories;
	Layout = "~/Views/Shared/_Table.cshtml";

	ViewBag.HasContent = Model.CategoryList.Any();
	ViewBag.NoContentText = Translator.Dictionary["NoCategories"];

	ViewBag.Buttons = new List<Button>
	{
		new Button(Translator.Dictionary["Create", "Category"], "Create")
	};
}

@section TableHeader{
	<tr class="row">
		<th class="col-sm-6">@Translator.Dictionary["Name"]</th>
		<th class="col-sm-2 text-center">@Translator.Dictionary["Status"]</th>
		<th class="col-sm-4 text-center" colspan="2">@Translator.Dictionary["TODO"]</th>
	</tr>
}

@foreach (var category in Model.CategoryList)
{
	<tr class="row">
		<td class="col-sm-6">
			@category.Name
		</td>

		<td class="col-sm-2 text-center">
			@Html.Partial("Status", category.Active)
		</td>

		<td class="col-sm-2 text-center">
			<a href="@Url.Action("Edit", "Categories", new { id = category.Name })">
				<span
					class="glyphicon glyphicon-edit"
					title="@Translator.Dictionary["Edit"]"
				></span>
			</a>
		</td>

		<td class="col-sm-2 text-center">
			@if (category.Active)
			{
				@Html.Partial("MicroForm",
					MicroForm.WithGlyph("eye-close", "Disable")
						.AddIdUrl("Disable", category.Name)
				)
			}
			else
			{
				@Html.Partial("MicroForm",
					MicroForm.WithGlyph("eye-open", "Enable")
						.AddIdUrl("Enable", category.Name)
				)
			}
		</td>
	</tr>
}