@using DFM.MVC.Helpers
@model CategoriesIndexModel

@{
	ViewBag.Title = MultiLanguage.Dictionary["Categories"];
	Layout = "~/Views/Shared/_Table.cshtml";

	ViewBag.HasContent = Model.CategoryList.Any();
	ViewBag.NoContentText = MultiLanguage.Dictionary["NoCategories"];

	ViewBag.Buttons = new List<Button>
	{
        new Button(MultiLanguage.Dictionary["Create", "Category"], "Create")
    };
}

@section TableHeader{
	<tr class="row">
		<th class="col-sm-6">@MultiLanguage.Dictionary["Name"]</th>
		<th class="col-sm-2 text-center">@MultiLanguage.Dictionary["Status"]</th>
		<th class="col-sm-4 text-center" colspan="2">@MultiLanguage.Dictionary["TODO"]</th>
	</tr>
}

@foreach (var category in Model.CategoryList)
{
	<tr class="row">
		<td class="col-sm-6">
			@category.Name
		</td>

		<td class="col-sm-2 text-center">
			@Html.Partial("Status", category.Active)
		</td>

		<td class="col-sm-2 text-center">
			<a href="@Url.Action("Edit", "Categories", new { id = category.Name })">
				<span class="glyphicon glyphicon-edit"></span>
			</a>
		</td>

		<td class="col-sm-2 text-center">
			@if (category.Active)
			{
				<a href="@Url.Action("Disable", new { id = category.Name })">
					<span class="glyphicon glyphicon-eye-close"></span>
				</a>
			}
			else
			{
				<a href="@Url.Action("Enable", new { id = category.Name })">
					<span class="glyphicon glyphicon-eye-open"></span>
				</a>
			}
		</td>
	</tr>
}