@model UsersConfigModel

@{
	ViewBag.Title = MultiLanguage.Dictionary["Settings"];
	Layout = "~/Views/Shared/_Form.cshtml";
}

@section Scripts
{
	<script type="text/javascript" src="~/Assets/Scripts/tab-forms.js"></script>
}

<ul class="nav nav-tabs">
	<li class="options-caller">
		<a href="#options" data-toggle="tab">
			@MultiLanguage.Dictionary["MainSettings"]
		</a>
	</li>
	<li class="password-caller">
		<a href="#password" data-toggle="tab">
			@MultiLanguage.Dictionary["PasswordSettings"]
		</a>
	</li>
	<li class="email-caller">
		<a href="#email" data-toggle="tab">
			@MultiLanguage.Dictionary["EmailSettings"]
		</a>
	</li>
</ul>

@Html.HiddenFor(m => m.ActiveForm)

<div class="tab-content well-sm">
	<div class="tab-pane" id="options" data-form="@Url.Action("ChangeConfig")">
		@Html.Partial("ConfigOptions")
	</div>

	<div class="tab-pane" id="password" data-form="@Url.Action("ChangePassword")">
		@Html.Partial("ConfigPassword")
	</div>

	<div class="tab-pane" id="email" data-form="@Url.Action("UpdateEmail")">
		@Html.Partial("ConfigEmail")
	</div>
</div>

@section Footer
{
	<button type="submit" class="btn btn-success">
		@MultiLanguage.Dictionary["Save"]
	</button>
}
