@using DFM.Generic
@model UsersConfigModel

<div class="alert alert-info text-center">
	@Html.Raw(String.Format(
		MultiLanguage.Dictionary["TFAExplanation"],
		Environment.NewLine + Environment.NewLine,
		"<a href='https://play.google.com/store/apps/details?id=com.authy.authy'>Authy</a>",
		"<a href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2'>" +
		"Google Authenticator" +
		"</a>"
		).BreakLines())
</div>

<div class="text-center">
	<span id="qrcode" data-url="@Model.TFA.Url">
	</span>
	@Html.HiddenFor(m => m.TFA.Secret)
</div>

<div class="form-group">
	@Html.LabelFor(m => m.TFA.Code, MultiLanguage.Dictionary["Code"], new { @class = "control-label" })
	@Html.TextBoxFor(m => m.TFA.Code, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.TFA.CurrentPassword, MultiLanguage.Dictionary["CurrentPassword"], new { @class = "control-label" })
	@Html.PasswordFor(m => m.TFA.CurrentPassword, new { @class = "form-control" })
</div>

<small>
	@Html.ActionLink(MultiLanguage.Dictionary["TFARemove"], "RemoveTFA")
</small>
