@model UsersConfigModel

<div class="form-group">
	@Html.LabelFor(m => m.Info.CurrentPassword, Translator.Dictionary["CurrentPassword"], new { @class = "control-label" })
	@Html.PasswordFor(m => m.Info.CurrentPassword, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Info.Password, Translator.Dictionary["NewPassword"], new { @class = "control-label" })
	@Html.PasswordFor(m => m.Info.Password, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Info.RetypePassword, Translator.Dictionary["RetypePassword"], new { @class = "control-label" })
	@Html.PasswordFor(m => m.Info.RetypePassword, new { @class = "form-control" })
</div>
