@model UsersConfigModel

<div class="form-group">
	@Html.LabelFor(m => m.Info.CurrentPassword, MultiLanguage.Dictionary["CurrentPassword"])
	@Html.PasswordFor(m => m.Info.CurrentPassword, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Info.Password, MultiLanguage.Dictionary["NewPassword"])
	@Html.PasswordFor(m => m.Info.Password, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Info.RetypePassword, MultiLanguage.Dictionary["RetypePassword"])
	@Html.PasswordFor(m => m.Info.RetypePassword, new { @class = "form-control" })
</div>
