@model UsersConfigModel

@{
	ViewBag.Title = MultiLanguage.Dictionary["Settings"];
	Layout = "~/Views/Shared/_NoAreaLayout.cshtml";
}

<div class="two-columns">

	<div class="first-column">
		@using (Html.BeginForm("ChangeConfig", null))
		{
			<p class="checkbox divRowForm">
				@Html.LabelFor(m => m.Main.UseCategories, MultiLanguage.Dictionary["UseCategories"])
				@Html.CheckBoxFor(m => m.Main.UseCategoriesCheck)
			</p>

			<p class="checkbox divRowForm">
				@Html.LabelFor(m => m.Main.SendMoveEmail, MultiLanguage.Dictionary["SendMoveEmail"])
				@Html.CheckBoxFor(m => m.Main.SendMoveEmailCheck)
			</p>

			<p class="checkbox divRowForm">
				@Html.LabelFor(m => m.Main.MoveCheck, MultiLanguage.Dictionary["MoveCheck"])
				@Html.CheckBoxFor(m => m.Main.MoveCheckCheck)
			</p>

			<div class="divRowForm">
				<hr />
			</div>

			<p>
				@Html.LabelFor(m => m.Main.Language, MultiLanguage.Dictionary["Language"])
				@Html.DropDownListFor(m => m.Main.Language, Model.Main.LanguageList)
			</p>

			<p>
				@Html.LabelFor(m => m.Main.TimeZone, MultiLanguage.Dictionary["TimeZone"])
				@Html.DropDownListFor(m => m.Main.TimeZone, Model.Main.TimeZoneList)
			</p>

			<div class="divRowForm">
				<hr />
			</div>

			<p>
				<button type="submit">@MultiLanguage.Dictionary["Save"]</button>
			</p>
		}
	</div>

	<div class="second-column" style="margin-top: -15px">
		@using (Html.BeginForm("ChangePassword", null))
		{
			<p>
				@Html.LabelFor(m => m.Info.CurrentPassword, MultiLanguage.Dictionary["CurrentPassword"])
				@Html.PasswordFor(m => m.Info.CurrentPassword)
			</p>

			<p>
				@Html.LabelFor(m => m.Info.Password, MultiLanguage.Dictionary["NewPassword"])
				@Html.PasswordFor(m => m.Info.Password)
			</p>

			<p>
				@Html.LabelFor(m => m.Info.RetypePassword, MultiLanguage.Dictionary["RetypePassword"])
				@Html.PasswordFor(m => m.Info.RetypePassword)
			</p>

			<p>
				<button type="submit">@MultiLanguage.Dictionary["Save"]</button>
			</p>
		}

		<div class="divRowForm">
			<hr />
		</div>

		@using (Html.BeginForm("UpdateEmail", null))
		{
			<p>
				@Html.LabelFor(m => m.Info.Email, MultiLanguage.Dictionary["EmailToChange"])
				@Html.TextBoxFor(m => m.Info.Email)
			</p>

			<p>
				@Html.LabelFor(m => m.Info.CurrentPassword, MultiLanguage.Dictionary["CurrentPassword"])
				@Html.PasswordFor(m => m.Info.CurrentPassword)
			</p>

			<p>
				<button type="submit">@MultiLanguage.Dictionary["Save"]</button>
			</p>
		}
	</div>

</div>
