@model UsersConfigModel

@{
	ViewBag.Title = MultiLanguage.Dictionary["Settings"];
	Layout = "~/Views/Shared/_Form.cshtml";

	var tabs = Enum.GetValues(typeof (UsersConfigModel.Form));

	ViewBag.FormSizeSm = 8;
	ViewBag.FormSizeLg = 6;
}

@section Scripts {
	<script type="text/javascript" src="~/Assets/Scripts/tab-forms.js"></script>
	<script type="text/javascript" src="~/Assets/Scripts/dynamic-theme-change.js"></script>
	<script type="text/javascript">
		window.currentTheme = '@Model.UserTheme';
	</script>
}

<ul class="nav nav-tabs">
	@foreach (var tab in tabs)
	{
		var name = tab.ToString();
		var lower = name.ToLower();

		<li class="@lower-caller">
			<a href="#@lower" data-toggle="tab">
				<small>
					@MultiLanguage.Dictionary[$"{name}Settings"]
				</small>
			</a>
		</li>
	}
</ul>

@Html.HiddenFor(m => m.ActiveForm)

<div class="tab-content well-sm">
	@foreach (var tab in tabs)
	{
		var name = tab.ToString();
		var lower = name.ToLower();

		<div class="tab-pane" id="@lower" data-form="@Url.Action($"Config{name}")">
			@Html.Partial($"Config{name}")
		</div>
	}
</div>

@section Footer {
	<button type="submit" class="btn btn-success">
		@MultiLanguage.Dictionary["Save"]
	</button>
}
