@model UsersContractModel

@{
	ViewBag.Title = Users.ContractTitle;
	Layout = "~/Views/Shared/_Form.cshtml";
	ViewBag.FormSizeSm = 12;
	ViewBag.FormSizeLg = 8;

	var canSign = !Model.IsLastContractAccepted;
}

@section Styles {
	<link href="~/Assets/Styles/contract.css" type="text/css" rel="stylesheet"/>
}

<div class="">

	<div class="contract">
		@Html.Partial($"../Contracts/{Model.Contract.Version}")
	</div>

	@if (canSign)
	{
		<div class="checkbox text-center form-group">
			<label for="@Html.IdFor(m => m.Accept)">
				@Html.CheckBoxFor(m => m.Accept)
				@String.Format(Users.ContractAccept, Users.ContractTitle)
			</label>
		</div>
	}
</div>


@section Footer {
	<span class="@(canSign ? "pull-left text-left" : "")">
		@Users.ContractBeginDate<br />
		@Model.Contract.BeginDate.ToShortDateString()
	</span>

	@if (canSign)
	{
		<button class="btn btn-success">@General.Accept</button>
	}
}