@using DFM.BusinessLogic.Helpers
@model BaseSiteModel

@{
	ViewBag.HideTopLogo = true;

	var twitterTheme = Model.Theme.Simplify().ToString().ToLower();
}

@section Scripts {
	<script src="/Assets/Scripts/twitter.js" type="text/javascript"></script>
}

@section Styles {
	<link href="~/Assets/Styles/twitter.css" rel="stylesheet" type="text/css" />
}

<div class="logo">
	Don't fly Money
</div>

<div class="row">

	<div class="col-sm-8">

		<hr />

		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					@Translator.Dictionary["Index_Introduction"]
				</p>

				<p>
					@Html.Raw(String.Format(
						Translator.Dictionary["Index_Explanation"],
						"<a href='" + Url.Action("SignUp", "Users") + "' class='text-success'>", "</a>"
						))
				</p>

				<p>
					@Html.Raw(String.Format(
						Translator.Dictionary["Index_Close"],
						"dfm@dontflymoney.com"
						))
				</p>
			</div>
			
			<div class="panel-footer text-right">
				@Translator.Dictionary["CookiesWarning"]
			</div>
		</div>

	</div>

	<div class="col-sm-4 text-right twitter">
		<a class="twitter-timeline"
		   href="https://twitter.com/dfm_grunt"
		   width="300px" height="400px" target="_blank"

		   data-widget-id="386678992192806915"

		   data-theme="@twitterTheme"
		   data-chrome="noheader noborders nofooter"
		   data-tweet-limit="3"
		   data-lang="@Model.Language">

			Tweets by @("@dfm_grunt")
		</a>
	</div>

</div>


