@model UsersLogOnModel

@{
	ViewBag.Title = Translator.Dictionary["Logon"];
	Layout = "~/Views/Shared/_Form.cshtml";

	ViewBag.RouteValues = new {returnUrl = Request.QueryString["returnUrl"]};
}

<div class="form-group">
	@Html.LabelFor(m => m.Email, Translator.Dictionary["Email"], new { @class = "control-label" })
	@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
</div>

<div class="form-group">
	@Html.LabelFor(m => m.Password, Translator.Dictionary["Password"], new { @class = "control-label" })
	@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
</div>

<div id="Remember" class="form-group text-center">
	@Html.CheckBoxFor(m => m.RememberMe)
	@Html.LabelFor(m => m.RememberMe, Translator.Dictionary["RememberMe"], new { @class = "control-label" })
</div>

@section Footer
{
	@Html.ActionLink(
		Translator.Dictionary["ForgotPassword"],
		"ForgotPassword", null, new { @class = "btn btn-default pull-left" }
	)

	<button type="submit" class="btn btn-success">
		@Translator.Dictionary["Login"]
	</button>
}
