@model UsersSignUpModel

@{
	ViewBag.Title = MultiLanguage.Dictionary["SignUp"];
	Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="half-screen">
	@using (Html.BeginForm())
	{ 
		<p>
			@Html.LabelFor(m => m.Email, MultiLanguage.Dictionary["Email"])
			@Html.TextBoxFor(m => m.Email, new { maxlength = MaximumLength.USER_EMAIL })
			<span class='input-ps'>@String.Format(MultiLanguage.Dictionary["CharactersMax"], MaximumLength.USER_EMAIL)</span>
		</p>

		<p>
			@Html.LabelFor(m => m.Password, MultiLanguage.Dictionary["Password"])
			@Html.PasswordFor(m => m.Password)
		</p>

		<p>
			@Html.LabelFor(m => m.RetypePassword, MultiLanguage.Dictionary["RetypePassword"])
			@Html.PasswordFor(m => m.RetypePassword)
		</p>
		
		<button type="submit">@MultiLanguage.Dictionary["Create"]!</button>

	}
</div>