@model BaseMovesModel

@{
	ViewBag.Title = Context.Translate(Model.ActionName, Model.ControllerName);
	Layout = "~/Views/Shared/Layouts/_Form.cshtml";
	ViewBag.FormSizeSm = 10;
	ViewBag.FormSizeLg = 6;

	ViewBag.TitleClass = "wizard-scroll-6";

	var buttonHL =
		Model.Type switch
		{
			OperationType.Creation => " wizard-highlight-5",
			OperationType.Scheduling => " wizard-highlight-5",
			_ => null
		};
}

@if (Model.BlockScreen)
{
	@await Html.PartialAsync("BlockedFormContent")
	@section Footer { @await Html.PartialAsync("BlockedFormFooter") }
}
else
{
	@section Scripts {
		<script src="~/Assets/scripts/toggle.js?v=@Cfg.Version" type="text/javascript"></script>
		<script src="~/Assets/scripts/move-crud.js?v=@Cfg.Version" type="text/javascript"></script>
	}

	if (Model.ShowLosingCategory)
	{
		<div class="alert alert-info text-center">
			@Html.Raw(Context.Translate("MoveLosingCategory").BreakLines())
		</div>
	}

	if (Model.ShowRemoveCheck)
	{
		<div class="alert alert-info text-center">
			@Html.Raw(Context.Translate("MoveRemoveCheck").BreakLines())
		</div>
	}

	@await Html.PartialAsync("ScheduleFields")

	@await Html.PartialAsync("MoveMainData")

	<hr />

	@await Html.PartialAsync("NatureAndAccount")

	<hr />

	@await Html.PartialAsync("ValueAndDetail")

	@section Footer {
		<div class="row">
			<div class="col-lg-9 text-left small">
				@Context.Translate("NoLinkReminder1")<br/>
				@Context.Translate("NoLinkReminder2")<br/>
				@Context.Translate("NoLinkReminder3")
			</div>
			<div class="col-lg-3">
				<button type="submit" class="btn btn-success @buttonHL">
					@Context.Translate(Model.ActionName)
				</button>
			</div>
		</div>
	}
}
