@using DFM.Entities.Enums
@using DFM.Generic
@model BaseMovesModel

@{
	ViewBag.Title = Translator.Dictionary[Model.ActionName, Model.ControllerName];

	ViewBag.WizardMessage =
		Model.Type == OperationType.Scheduling
			? "SchedulesCreate"
			: "MovesCreate";

	Layout = "~/Views/Shared/_Form.cshtml";
	ViewBag.FormSizeSm = 10;
	ViewBag.FormSizeLg = 6;
}

@if (Model.BlockScreen)
{
	@Html.Partial("BlockedFormContent")
	@section Footer { @Html.Partial("BlockedFormFooter") }
}
else
{
	@section Scripts {
		<script src="~/Assets/Scripts/toggle.js" type="text/javascript"></script>
		<script src="~/Assets/Scripts/move-crud.js" type="text/javascript"></script>
	}

	if (Model.ShowLosingCategory)
	{
		<div class="alert alert-info text-center">
			@Html.Raw(Translator.Dictionary["MoveLosingCategory"].BreakLines())
		</div>
	}

	if (Model.ShowRemoveCheck)
	{
		<div class="alert alert-info text-center">
			@Html.Raw(Translator.Dictionary["MoveRemoveCheck"].BreakLines())
		</div>
	}

	@Html.Partial("ScheduleFields")

	@Html.Partial("MoveMainData")

	<hr />

	@Html.Partial("NatureAndAccount")

	<hr />

	@Html.Partial("ValueAndDetail")

	@section Footer {
		<button type="submit" class="btn btn-success">
			@Translator.Dictionary[Model.ActionName]
		</button>
	}
}
