@model BaseMovesModel

<tbody>
	@for (var d = 0; d < Model.DetailList.Count; d++)
	{
		<tr class="row @(Model.DetailList[d].Send ? null : "hidden")">
			<td class="col-sm-6 form-group">
				@Html.TextBoxFor(
					m => m.DetailList[d].Detail.Description,
					new
					{
						@class = "form-control detail-description",
						maxlength = MaxLen.DetailDescription,
						aria_label = Context.Translate("Description"),
					}
				)
			</td>

			<td class="col-sm-2 form-group">
				@Html.TextBoxFor(
					m => m.DetailList[d].Detail.Amount,
					new
					{
						@class = "form-control text-center detail-amount number",
						data_precision = "0",
						aria_label = Context.Translate("Amount"),
					}
				)
			</td>

			<td class="col-sm-3 form-group">
				@Html.TextBoxFor(
					m => m.DetailList[d].Value,
					new
					{
						@class = "form-control text-right detail-value number",
						aria_label = Context.Translate("Value"),
					}
				)
			</td>

			<td class="col-sm-1">
				<button type="button"
					class="btn btn-sm btn-danger btn-glyph btn-remove-detail"
					title="@Context.Translate("Delete")"
				>
					<span class="glyphicon glyphicon-trash"></span>
				</button>

				@Html.HiddenFor(m => m.DetailList[d].Send, new { @class = "hidden-send" })
			</td>
		</tr>
	}
</tbody>
