@model BaseMovesModel

@{
	var detailedTabUiList = new List<BaseMovesModel.DetailTabUI>
	{
		new BaseMovesModel.DetailTabUI("JustOneValue", "just-value", false),
		new BaseMovesModel.DetailTabUI("Detailed", "detailed", true)
	};
}

@Html.HiddenFor(m => m.IsDetailed)

<ul class="nav nav-tabs">
	@foreach (var detailedTabUi in detailedTabUiList)
	{
		<li class="@(Model.IsDetailed == detailedTabUi.IsDetailed ? "active" : "") value-setter"
			id="Detailed_@detailedTabUi.IsDetailed.ToString()"
			data-target-id="@Html.IdFor(m => m.IsDetailed)"
			data-target-value="@detailedTabUi.IsDetailed">
			<a href="#@detailedTabUi.TargetId" data-toggle="tab">
				@Context.Translate(detailedTabUi.ResourceKey)
			</a>
		</li>
	}
</ul>
