@model BaseMovesModel

@{
	var tabHL =
		Model.Type == OperationType.Creation
			? " wizard-highlight-4"
			: null;

	var detailedTabUiList = new List<BaseMovesModel.DetailTabUI>
	{
		new("JustOneValue", "just-value", false),
		new("Detailed", "detailed", true, tabHL)
	};
}

@Html.HiddenFor(m => m.IsDetailed)

<ul class="nav nav-tabs">
	@foreach (var detailedTabUi in detailedTabUiList)
	{
		var active = Model.IsDetailed == detailedTabUi.IsDetailed ? "active" : "";

		<li class="@active value-setter"
			id="Detailed_@detailedTabUi.IsDetailed.ToString()"
			data-target-id="@Html.IdFor(m => m.IsDetailed)"
			data-target-value="@detailedTabUi.IsDetailed">
			<a href="#@detailedTabUi.TargetId" data-toggle="tab" class=" @detailedTabUi.Class">
				@Context.Translate(detailedTabUi.ResourceKey)
			</a>
		</li>
	}
</ul>
