@model BaseMovesModel

@{
	var useCategories = Model.IsUsingCategories;
	var rowWidths = useCategories ? 6 : 12;
}

<div class="form-group">
	@Html.LabelFor(m => m.Description, Context.Translate("Description"), new { @class = "control-label" })
	@Html.ValidationMessageFor(m => m.Description)<br />
	@Html.TextBoxFor(m => m.Description, new { maxlength = MaxLen.MoveDescription, @class = "form-control " + Model.HL["Description"] })
	<small>@String.Format(Context.Translate("CharactersMax"), MaxLen.MoveDescription)</small>
</div>

<div class="row">
	<div class="col-sm-@(rowWidths) form-group">
		@Html.LabelFor(m => m.Date, Context.Translate("Date"), new { @class = "control-label" })
		@Html.ValidationMessageFor(m => m.Date)<br />
		@Html.TextBoxFor(m => m.Date, new { type = "date", @class = "form-control " + Model.HL["Date"] })
	</div>

	@if (useCategories)
	{
		<div class="col-sm-@(rowWidths) form-group">
			@Html.LabelFor(m => m.CategoryName, Context.Translate("Category"), new {@class = "control-label"})
			@Html.ValidationMessageFor(m => m.CategoryName)<br/>
			@Html.DropDownListFor(m => m.CategoryName, Model.CategorySelectList, "-- " + Context.Translate("Select") + " --", new {@class = "form-control " + Model.HL["Category"]})
		</div>
	}
</div>
