@{
    ViewBag.Title = MultiLanguage.Dictionary["Welcome"];
    Layout = "~/Views/Shared/Outer/_Layout.cshtml";

    var isAuthenticated = DFM.MVC.Helpers.Authorize.Auth.Current.IsAuthenticated;
}

@section HtmlHeadCss {
    <link href="/Assets/css/Pages/user-index.css" rel="stylesheet" type="text/css" />
}


<p>
    @MultiLanguage.Dictionary["Index_Introdution"]
</p>

<hr class="Text" />

<p>
    @MultiLanguage.Dictionary["Index_PossibleNowADays"]
</p>
			
<ul>
	<li>@MultiLanguage.Dictionary["Index_Moves"]</li>
	<li>@MultiLanguage.Dictionary["Index_Transfer"]</li>
	<li>@MultiLanguage.Dictionary["Index_Categories"]</li>
</ul>

<hr class="Text" />

<p>
	@MultiLanguage.Dictionary["Index_Reports"]
</p>
			
<ul>
	<li>@MultiLanguage.Dictionary["Index_ReportMonth"]</li>
	<li>@MultiLanguage.Dictionary["Index_ReportYear"]</li>
</ul>

<hr class="Text" />

<p>
	@MultiLanguage.Dictionary["Index_Close"]
</p>