@model DFM.MVC.Models.UserLogOnModel

@{
    ViewBag.Title = MultiLanguage.Dictionary["Logon"];
}

<div class="half-screen">

    @using (Html.BeginForm("LogOn", "User", new { returnUrl = Request.QueryString["returnUrl"] }))
    {
        @Html.ValidationSummary(true)
        
        <p>
            @Html.LabelFor(m => m.Email, MultiLanguage.Dictionary["Email"] + ":")
            @Html.TextBoxFor(m => m.Email) 
        </p>

        <p>
            @Html.LabelFor(m => m.Password, MultiLanguage.Dictionary["Password"] + ":")
            @Html.PasswordFor(m => m.Password)
        </p>

        <div id="Remember">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, MultiLanguage.Dictionary["RememberMe"])
        </div>

        <button type="submit">@MultiLanguage.Dictionary["Enter"]</button>

    }

</div>


@section PS
{
    @Html.ActionLink(MultiLanguage.Dictionary["ForgotPassword"], "ForgotPassword")
}