@model DFM.MVC.Models.UserSignUpModel

@{
    ViewBag.Title = MultiLanguage.Dictionary["SignUp"];
    Layout = "~/Views/Shared/Outer/_Layout.cshtml";
}

<div class="half-screen">
    @using (Html.BeginForm()) { 

        @Html.ValidationSummary(true)

        <p>
            @Html.LabelFor(m => m.Email, MultiLanguage.Dictionary["Email"])
            @Html.TextBoxFor(m => m.Email, new { maxlength = MaximumLength.UserEmail })
            <span class='input-ps'>@String.Format(MultiLanguage.Dictionary["CharactersMax"], MaximumLength.UserEmail)</span>
        </p>

        <p>
            @Html.LabelFor(m => m.Password, MultiLanguage.Dictionary["Password"])
            @Html.PasswordFor(m => m.Password)
        </p>

        <p>
            @Html.LabelFor(m => m.RetypePassword, MultiLanguage.Dictionary["RetypePassword"])
            @Html.PasswordFor(m => m.RetypePassword)
        </p>
        
        <button type="submit">@MultiLanguage.Dictionary["Create"]!</button>

    }
</div>