@model DFM.MVC.Areas.Accounts.Models.ReportShowMovesModel

@{
    ViewBag.Title = Model.Date;
    Layout = "~/Areas/Accounts/Views/Shared/_Layout.cshtml";
}

@section HtmlFooterJs {
    <script type='text/javascript'>
        var reportPage = '@Url.Action("ShowMoves", new { id = "" })';
    </script>
}

@section TopRightDiv {
    @Html.NumberNavFor(m => m.Month, TimeNavigation.Limits(1, 12))
    @Html.NumberNavFor(m => m.Year, TimeNavigation.Limits(1900, Model.Today.Year))
    <button type="button" id="NavGo">@MultiLanguage.Dictionary["Go"]</button>
}



@if (!Model.MoveList.Any())
{ 
    <div class="ZeroItems">@MultiLanguage.Dictionary["NoMonthMoves"]</div>
}
else
{    
    <table class="List">

        <tr>
            <th>@MultiLanguage.Dictionary["Description"]</th>
            <th>@MultiLanguage.Dictionary["Category"]</th>
            <th>@MultiLanguage.Dictionary["Date"]</th>
            <th>@MultiLanguage.Dictionary["In"]</th>
            <th>@MultiLanguage.Dictionary["Out"]</th>
            <th class="todo-column" colspan="2">@MultiLanguage.Dictionary["TODO"]</th>
        </tr>

        @foreach (var move in Model.MoveList.OrderBy(m => m.Date))
        {
            var language = move.User.Language;
            
            <tr>
                <td>@move.GetDescriptionDetailed() </td>
                <td>@move.Category.Name </td>
                <td>@move.Date.ToShortDateString() </td>

                <td class="numeric in">
                    @if (move.In != null && move.In.Year.Account.Url == Model.CurrentAccountUrl)
                        {@move.Value().ToMoney(language)}
                    else
                        { @(" ") }
                </td>

                <td class="numeric out">
                    @if (move.Out != null && move.Out.Year.Account.Url == Model.CurrentAccountUrl)
                        {@move.Value().ToMoney(language)}
                    else
                        { @(" ") }
                </td>

                @{
                    var editLabel = MultiLanguage.Dictionary["Edit", "Move"];
                    var editUrl = Url.Action("Edit", "Move", new { id = move.ID });

                    var deleteLabel = MultiLanguage.Dictionary["Delete", "Move"];
                    var deleteUrl = Url.Action("Delete", "Move", new { id = move.ID });
                    var deleteConfirm = String.Format(MultiLanguage.Dictionary["ConfirmDeleteMove"], move.GetDescriptionDetailed());
                    }

                <td class="image"><a href="@editUrl"><img src="/Assets/image/icons/edit.gif" alt="@editLabel" title="@editLabel" /></a></td>

                <td class="image">
                    <a href="@deleteUrl" class="withConfirm" confirm="@deleteConfirm">
                        <img src="/Assets/image/icons/delete.gif" alt="@deleteLabel" title="@deleteLabel" />
                    </a>
                </td>
                
            </tr>

        } 

    </table>
}