@model ReportSummarizeMonthsModel

@{
    ViewBag.Title = Model.Date;
    Layout = "~/Areas/Accounts/Views/Shared/_Layout.cshtml";
}

@section HtmlFooterJs {
    <script type='text/javascript'>
        var reportPage = '@Url.Action("SummarizeMonths", new { id = "" })';
    </script>
}

@section TopRightDiv {
    @{
        @Html.NumberNavFor(m => m.Year.Time, TimeNavigation.Limits(1900, Model.Today.Year))
        <button type="button" id="NavGo">@MultiLanguage.Dictionary["Go"]</button>
    }
}



@if (!Model.Year.MonthList.Any()) { 
    
    <div class="ZeroItems">@MultiLanguage.Dictionary["NoYearMoves"]</div>

} else {

    var language = Model.Year.User().Config.Language;

    <table class="List Mini">

        <tr>
            <th>@MultiLanguage.Dictionary["Month"]</th>
            <th>@MultiLanguage.Dictionary["Value"]</th>
        </tr>

        @foreach (var month in Model.Year.MonthList.OrderBy(m => m.Time))
        {
            var sum = month.Sum();
            
            var sign = sum < 0 ? "out" : "in";
            
            sum = sum > 0 ? sum : -sum;
            
            <tr>
                <td>
                    <a href="@Url.Action("ShowMoves", new { id = month.Url() } )">
                        @MultiLanguage.GetMonthName(month.Time)
                    </a>
                </td>
                <td class="numeric @sign">@sum.ToMoney(language) </td>
            </tr>

        } 

    </table>
} 
