@{
	Layout = "_Master.cshtml";
	String action = ViewBag.Action;
	String controller = ViewBag.Controller;
	object routeValues = ViewBag.RouteValues;

	var formSizeSm = ViewBag.FormSizeSm ?? 6;
	if (formSizeSm % 2 == 1) { formSizeSm++; }
	var pushSm = 6 - formSizeSm / 2;

	var formSizeLg = ViewBag.FormSizeLg ?? 4;
	if (formSizeLg % 2 == 1) { formSizeLg++; }
	var pushLg = 6 - formSizeLg / 2;

	var accountModel = Model as BaseAccountModel;
	var subtitle = accountModel?.Account?.Name;
}

<div class="row move-down">
	<div class="col-sm-@(formSizeSm) col-sm-push-@pushSm col-lg-@(formSizeLg) col-lg-push-@pushLg">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="header">
					@ViewBag.Title
					<em>@subtitle</em>
				</h4>
			</div>

			@using (Html.BeginForm(action, controller, routeValues))
			{
				@Html.AntiForgeryToken()

				<div class="panel-body">
					@await Html.PartialAsync("Skeleton/ValidationSummary")

					@RenderBody()
				</div>

				<div class="panel-title"></div>

				<div class="panel-footer text-right">
					@RenderSection("Footer", false)
				</div>
			}
		</div>

	</div>
</div>

@section Scripts { @RenderSection("Scripts", false) }
@section Styles { @RenderSection("Styles", false) }
