@{
	Layout = "_Base.cshtml";
	String action = ViewBag.Action;
	String controller = ViewBag.Controller;
	Object routeValues = ViewBag.RouteValues;

	var formSizeSm = ViewBag.FormSizeSm ?? 6;
	if (formSizeSm % 2 == 1) { formSizeSm++; }
	var pushSm = 6 - formSizeSm / 2;

	var formSizeLg = ViewBag.FormSizeLg ?? 4;
	if (formSizeLg % 2 == 1) { formSizeLg++; }
	var pushLg = 6 - formSizeLg / 2;
}

<div class="row move-down">
	<div class="col-sm-@(formSizeSm) col-sm-push-@pushSm col-lg-@(formSizeLg) col-lg-push-@pushLg">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="header">
					<span class="@ViewBag.TitleClass">
						@ViewBag.Title
					</span>
					<em>@ViewBag.Subtitle</em>
				</h1>
			</div>

			@using (Html.BeginForm(action, controller, routeValues))
			{
				@Html.AntiForgeryToken()

				<div class="panel-body">
					@await Html.PartialAsync("Skeleton/ValidationSummary")

					@RenderBody()
				</div>

				<div class="panel-footer text-right">
					@await RenderSectionAsync("Footer", false)
				</div>
			}
		</div>

	</div>
</div>

<div class="number-error text-danger text-right">
	@Context.Translate("JustNumbers")
</div>

@section Scripts { @await RenderSectionAsync("Scripts", false) }
@section Styles { @await RenderSectionAsync("Styles", false) }
