@model BaseMovesModel

@Html.Partial("../Moves/DetailTabs")

<div class="tab-content">

	<div class="tab-pane @(Model.IsDetailed ? "": "active")" id="just-value">
		@Html.TextBoxFor(m => m.Value, new { @class = "form-control number" })
	</div>

	<div class="tab-pane @(Model.IsDetailed ? "active" : "") form-group form-group-sm" id="detailed">
		<table class="table table-condensed">
			@Html.Partial("../Moves/DetailHeader")
			@Html.Partial("../Moves/DetailBody")
			@Html.Partial("../Moves/DetailFooter")
		</table>
	</div>

</div>
